Starting from the The Movie DataBase (TMDB) sample datasets,

For each movie, compute the number of cast members
How many movies do not have a homepage?
For each year, how many movies do not have a homepage?
Extract the domain of each homepage.
Extract a set of normalized tables. That is, each entry of a normalized table must contain exactly one value (not a list or a dictionary).

For each movie, compute the gross margin (difference between revenue and budget)
For each movie, compute the number of crew members
For each movie, compute the number of directors
For each language, compute the number of movies where such language is spoken.
For each company and each decade, compute the overall revenue

For each decade, compute the company with maximum revenue
In each year, how many movies have revenue smaller than the budget?

Only for groups of two or three people
Distribute the revenue according to the order of appearance in a movie. Assume that the i-th actor contributes twice as much as the (i+1)-th actor to the revenue.
For each actor find the total revenue attributed to him/her.
Find the actor that is responsible for the most overall revenue.

Only for groups of three people
For each movie, compute the ratio between males and females in the cast
For each movie, compute the ratio between the attributed revenue of males and females in the cast
Find the director that has the highest average ratio computed in the previous point.

In [19]:
import pandas as pd
import numpy as np
mv = pd.read_csv('C:/Users/Paolo/Desktop/Computer Science (Python)/Progetto/tmdb_5000_movies.csv')
cr = pd.read_csv('C:/Users/Paolo/Desktop/Computer Science (Python)/Progetto/tmdb_5000_credits.csv')

In [9]:
mv.head()

,budget,genres,homepage,movie_id,keywords,original_language,title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

#Operazione preliminare: creo la tabella actors, che conterrà la lista di tutti gli attori (anche ripetuti) 
#con le loro info personali e SOPRATTUTTO con l'id ed il titolo di ogni film dentro cui sono comparsi
#Quindi molti punti si faranno con delle semplici groupby su questa tabella

#ATTENZIONE! OPERAZIONE LENTA, ESEGUIRE SOLO UNA VOLTA (deprecated - metodo alternativo in prossima cella)
actors = pd.read_json(cr['cast'][0])
actors['movie_id'] = cr['movie_id'][0]
for i in np.array(range(1,len(cr))):
    temp = pd.read_json(cr['cast'][i])
    temp['movie_id'] = cr['movie_id'][i]
    actors = actors.append(temp)
actors = actors.merge(right = cr[['movie_id', 'title']], on='movie_id')    



MODO MIGLIORE (MOLTO PIù VELOCE)

act = cr.cast.apply(pd.read_json)
titles = cr['title']
ids = cr['movie_id']
for i in range(len(cr)):
    act[i]['title'] = titles[i]
    act[i]['movie_id'] = ids[i]

actors = pd.concat(act.values).reset_index().drop('index', axis = 1)

In [20]:
#Questa funzione costruisce i dataframe a partire dalle stringhe formato json memorizzate in alcune colonne.
#Lo scopo è normalizzare le tabelle

def normalize_table(title, movie_id, df, column):
    result = df[column].apply(pd.read_json)
    titles = df[title]
    ids = df[movie_id]
    for i in range(len(df)):
        result[i][title] = titles[i]
        result[i][movie_id] = ids[i]
    return pd.concat(result.values).reset_index().drop("index", axis = 1)

In [22]:
#1.For each movie, compute the number of cast members
cast = normalize_table("title", "movie_id", cr, "cast")
actors_each_movie = cast.groupby(by = ['movie_id','title'], as_index = False).size()
actors_each_movie

movie_id  title
5         Four Rooms                                                 24
11        Star Wars                                                 106
12        Finding Nemo                                               24
13        Forrest Gump                                               66
14        American Beauty                                            40
16        Dancer in the Dark                                         29
18        The Fifth Element                                         115
19        Metropolis                                                 21
20        My Life Without Me                                         12
22        Pirates of the Caribbean: The Curse of the Black Pearl     70
24        Kill Bill: Vol. 1                                          36
25        Jarhead                                                    20
28        Apocalypse Now                                             36
33        Unforgiven                                                 33
35        The Simpsons Movie                                         21
38        Eternal Sunshine of the Spotless Mind                      19
55        Amores perros                                              25
58        Pirates of the Caribbean: Dead Man's Chest                 33
59        A History of Violence                                      15
62        2001: A Space Odyssey                                      60
65        8 Mile                                                     19
66        Absolute Power                                             11
68        Brazil                                                     22
69        Walk the Line                                              45
70        Million Dollar Baby                                        49
71        Billy Elliot                                               17
73        American History X                                         53
74        War of the Worlds                                          29
75        Mars Attacks!                                              22
76        Before Sunrise                                             27
                                                                   ...
370662    Time to Choose                                              5
370980    Chiamatemi Francesco - Il Papa della gente                 11
371690    Rotor DR1                                                  10
373314    Misconduct                                                  8
374461    Mr. Church                                                 11
375290    Airlift                                                    19
375950    The Country Doctor                                         36
376004    Adulterers                                                  6
376010    Western Religion                                           11
376659    Bad Moms                                                   33
378200    The Perfect Match                                          15
379532    Rodeo Girl                                                 19
380733    Fight to the Finish                                         6
381902    The Monkey King 2                                          11
385383    Fight Valley                                               16
385636    Juliet and Alfa Romeo                                       7
385736    Kicks                                                      11
386826    A Beginner's Guide to Snuff                                 5
389425    Code of Honor                                              12
394047    The Dog Lover                                              30
395766    The Secret                                                  9
396152    Restoration                                                 4
402515    American Beast                                              4
407887    Operation Chromite                                         14
408429    Perfect Cowboy                                             10
417859    Puss in Boots                                              25
426067    Midnight Cabaret                                           12
426469    Growing Up Smith                                           23
433715    8 Days                                                      4
459488    To Be Frank, Sinatra at 100                                 1
Length: 4760, dtype: int64

In [23]:
# 2. How many movies do not have a homepage?
len(mv[mv['homepage'].isnull()].dropna(subset = ['release_date']))

3090

In [91]:
#3. For each year, how many movies do not have a homepage?
def extract_year(timestamp):
    if timestamp is np.nan:
        return np.nan
    else:
        return timestamp.year

mv2 = mv.dropna(subset = ['release_date'])
mv2['release_year'] = mv2['release_date'].apply(pd.to_datetime).apply(extract_year) #Questo assegnamento crea un warning,perchè?
movies_per_year = mv2[mv2['homepage'].isnull()].groupby(by='release_year').size()
movies_per_year

C:\Users\Paolo\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

release_year
1916      1
1925      1
1927      1
1929      2
1930      1
1932      1
1933      2
1934      1
1935      1
1936      2
1937      1
1938      2
1939      2
1940      4
1941      1
1942      1
1944      2
1945      4
1946      3
1947      3
1948      3
1949      2
1950      1
1951      3
1952      4
1953      4
1954      4
1955      2
1956      3
1957      2
       ...
1987     29
1988     28
1989     28
1990     24
1991     29
1992     29
1993     44
1994     50
1995     64
1996     86
1997    102
1998    119
1999    145
2000    145
2001    159
2002    164
2003    131
2004    149
2005    149
2006    144
2007     92
2008     97
2009     85
2010     54
2011     43
2012     92
2013    127
2014    157
2015    110
2016     31
Length: 89, dtype: int64

In [25]:
#4. Extract the domain of each homepage (for example .com, .it, .org)

def extract_domain(hp):
    domains = []
    if hp is np.nan:
        return np.nan
    else:
        homepage = hp.split(' ')
        for i in range(len(homepage)):
            domains.append(homepage[i].split('/')[2].split('.')[-1])
        return str(domains)[1:-1].replace("\'", "")
    
domains = mv['homepage'].apply(extract_domain).to_frame()
domains_with_titles = mv['title'].to_frame().join(domains).rename(columns = {'homepage':'domain'})
domains_with_titles

                                            title domain
0                                          Avatar    com
1        Pirates of the Caribbean: At World's End    com
2                                         Spectre    com
3                           The Dark Knight Rises    com
4                                     John Carter    com
5                                    Spider-Man 3    com
6                                         Tangled    com
7                         Avengers: Age of Ultron    com
8          Harry Potter and the Half-Blood Prince    com
9              Batman v Superman: Dawn of Justice    com
10                               Superman Returns    com
11                              Quantum of Solace    com
12     Pirates of the Caribbean: Dead Man's Chest    com
13                                The Lone Ranger    com
14                                   Man of Steel    com
15       The Chronicles of Narnia: Prince Caspian    NaN
16                                   The Avengers    com
17    Pirates of the Caribbean: On Stranger Tides    com
18                                 Men in Black 3    com
19      The Hobbit: The Battle of the Five Armies    com
20                         The Amazing Spider-Man    com
21                                     Robin Hood    com
22            The Hobbit: The Desolation of Smaug    com
23                             The Golden Compass    com
24                                      King Kong    NaN
25                                        Titanic    com
26                     Captain America: Civil War    com
27                                     Battleship    NaN
28                                 Jurassic World    com
29                                        Skyfall    com
...                                           ...    ...
4773                                       Clerks    com
4774                               Pink Narcissus    NaN
4775                                  Funny Ha Ha    NaN
4776                        In the Company of Men    NaN
4777                                       Manito    NaN
4778                                      Rampage    NaN
4779                                      Slacker    NaN
4780                                  Dutch Kills    NaN
4781                                    Dry Spell    com
4782                                     Flywheel    NaN
4783                                     Backmask    NaN
4784                              The Puffy Chair    com
4785                         Stories of Our Lives    NaN
4786                             Breaking Upwards    NaN
4787                     All Superheroes Must Die    NaN
4788                               Pink Flamingos    NaN
4789                                        Clean    NaN
4790                                   The Circle    NaN
4791                                  Tin Can Man    com
4792                                         Cure    NaN
4793                               On The Downlow    NaN
4794                 Sanctuary: Quite a Conundrum    NaN
4795                                         Bang    NaN
4796                                       Primer    com
4797                                       Cavite    NaN
4798                                  El Mariachi    NaN
4799                                    Newlyweds    NaN
4800                    Signed, Sealed, Delivered    com
4801                             Shanghai Calling    com
4802                            My Date with Drew    NaN

[4803 rows x 2 columns]

In [26]:
#5. Extract a set of normalized tables. 
#That is, each entry of a normalized table must contain exactly one value (not a list or a dictionary).

# create table(cast) from cr
#già creata preliminarmente per risolvere il punto 1

# create table(crew) from cr
crew = normalize_table("title", "movie_id", cr, "crew")

# create table(genders) from mv
genders = normalize_table("original_title", "id", mv, "genres")

# create table(keyword) from mv
keywords = normalize_table("original_title", "id", mv, "keywords")

# create table(production_companies) from mv
production_companies = normalize_table("original_title", "id", mv, "production_companies")

# create table(production_countries) from mv
production_countries = normalize_table("original_title", "id", mv, "production_countries")

# create table(spoken_languages) from mv
spoken_languages = normalize_table("original_title", "id", mv, "spoken_languages")

#create normalized copies of the original dataframes
mv_norm = mv.drop(['genres', 'keywords', 'production_companies', 'production_countries', 'spoken_languages'],axis = 1)
cr_norm = cr.drop(['cast', 'crew'], axis = 1)

In [87]:
#6. For each movie, compute the gross margin (difference between revenue and budget)
mv_norm['gross_margin'] =  mv_norm['revenue'] - mv_norm['budget']
mv_norm[['title','gross_margin']]

                                            title  gross_margin
0                                          Avatar    2550965087
1        Pirates of the Caribbean: At World's End     661000000
2                                         Spectre     635674609
3                           The Dark Knight Rises     834939099
4                                     John Carter      24139100
5                                    Spider-Man 3     632871626
6                                         Tangled     331794936
7                         Avengers: Age of Ultron    1125403694
8          Harry Potter and the Half-Blood Prince     683959197
9              Batman v Superman: Dawn of Justice     623260194
10                               Superman Returns     121081192
11                              Quantum of Solace     386090727
12     Pirates of the Caribbean: Dead Man's Chest     865659812
13                                The Lone Ranger    -165710090
14                                   Man of Steel     437845518
15       The Chronicles of Narnia: Prince Caspian     194651413
16                                   The Avengers    1299557910
17    Pirates of the Caribbean: On Stranger Tides     665713802
18                                 Men in Black 3     399026776
19      The Hobbit: The Battle of the Five Armies     706019788
20                         The Amazing Spider-Man     537215857
21                                     Robin Hood     110669540
22            The Hobbit: The Desolation of Smaug     708400000
23                             The Golden Compass     192234864
24                                      King Kong     343000000
25                                        Titanic    1645034188
26                     Captain America: Civil War     903304495
27                                     Battleship      94025485
28                                 Jurassic World    1363528810
29                                        Skyfall     908561013
...                                           ...           ...
4773                                       Clerks       3124130
4774                               Pink Narcissus        -27000
4775                                  Funny Ha Ha         76901
4776                        In the Company of Men             0
4777                                       Manito             0
4778                                      Rampage             0
4779                                      Slacker             0
4780                                  Dutch Kills             0
4781                                    Dry Spell        -22000
4782                                     Flywheel             0
4783                                     Backmask             0
4784                              The Puffy Chair             0
4785                         Stories of Our Lives             0
4786                             Breaking Upwards             0
4787                     All Superheroes Must Die             0
4788                               Pink Flamingos       5988000
4789                                        Clean             0
4790                                   The Circle             0
4791                                  Tin Can Man           -13
4792                                         Cure         79000
4793                               On The Downlow             0
4794                 Sanctuary: Quite a Conundrum             0
4795                                         Bang             0
4796                                       Primer        417760
4797                                       Cavite             0
4798                                  El Mariachi       1820920
4799                                    Newlyweds         -9000
4800                    Signed, Sealed, Delivered             0
4801                             Shanghai Calling             0
4802                            My Date with Drew             0

[4803 rows x 2 columns]

In [29]:
#7. For each movie, compute the number of crew members
crew.groupby(by = 'title').size()

title
#Horror                                        6
(500) Days of Summer                          35
10 Cloverfield Lane                           59
10 Days in a Madhouse                         10
10 Things I Hate About You                    37
102 Dalmatians                                13
10th & Wolf                                    3
11:14                                         22
12 Angry Men                                  17
12 Rounds                                     44
12 Years a Slave                              72
127 Hours                                     68
13 Going on 30                                45
13 Hours: The Secret Soldiers of Benghazi     80
1408                                          44
15 Minutes                                   338
16 Blocks                                     13
16 to Life                                     2
17 Again                                      54
1776                                           4
1911                                           6
1941                                          10
1982                                           4
2 Fast 2 Furious                             105
2 Guns                                        33
20 Dates                                       6
20 Feet from Stardom                           1
20,000 Leagues Under the Sea                  11
200 Cigarettes                                 3
2001: A Space Odyssey                         19
                                            ...
Young Adult                                   41
Young Frankenstein                            44
Young Guns                                    10
Young Sherlock Holmes                         11
Your Highness                                 11
Your Sister's Sister                           8
Yours, Mine and Ours                           8
Youth in Revolt                                6
Z Storm                                        7
ZMD: Zombies of Mass Destruction               3
Zack and Miri Make a Porno                    13
Zambezia                                       5
Zathura: A Space Adventure                    24
Zero Dark Thirty                              19
Zero Effect                                    9
Zipper                                        27
Zodiac                                        43
Zombie Hunter                                  4
Zombieland                                     9
Zookeeper                                      6
Zoolander                                     95
Zoolander 2                                   17
Zoom                                          28
Zulu                                          36
[REC]                                         31
[REC]²                                         5
eXistenZ                                      57
xXx                                          139
xXx: State of the Union                      111
Æon Flux                                      21
Length: 4772, dtype: int64

In [33]:
#8. For each movie, compute the number of directors
crew[crew['job']=='Director'].groupby(by = 'title').size().to_frame()

title
#Horror                                      1
(500) Days of Summer                         1
10 Cloverfield Lane                          1
10 Days in a Madhouse                        1
10 Things I Hate About You                   1
102 Dalmatians                               1
10th & Wolf                                  1
11:14                                        1
12 Angry Men                                 1
12 Rounds                                    1
12 Years a Slave                             1
127 Hours                                    1
13 Going on 30                               1
13 Hours: The Secret Soldiers of Benghazi    1
1408                                         1
15 Minutes                                   1
16 Blocks                                    1
16 to Life                                   1
17 Again                                     1
1776                                         1
1911                                         2
1941                                         1
1982                                         1
2 Fast 2 Furious                             1
2 Guns                                       1
20 Dates                                     1
20 Feet from Stardom                         1
20,000 Leagues Under the Sea                 1
200 Cigarettes                               1
2001: A Space Odyssey                        1
                                            ..
Young Adult                                  1
Young Frankenstein                           1
Young Guns                                   1
Young Sherlock Holmes                        1
Your Highness                                1
Your Sister's Sister                         1
Yours, Mine and Ours                         1
Youth in Revolt                              1
Z Storm                                      1
ZMD: Zombies of Mass Destruction             1
Zack and Miri Make a Porno                   1
Zambezia                                     1
Zathura: A Space Adventure                   1
Zero Dark Thirty                             1
Zero Effect                                  1
Zipper                                       1
Zodiac                                       1
Zombie Hunter                                1
Zombieland                                   1
Zookeeper                                    1
Zoolander                                    1
Zoolander 2                                  1
Zoom                                         1
Zulu                                         1
[REC]                                        2
[REC]²                                       2
eXistenZ                                     1
xXx                                          1
xXx: State of the Union                      1
Æon Flux                                     1
Length: 4770, dtype: int64

In [40]:
#9. For each language, compute the number of movies where such language is spoken.
spoken_languages.groupby(by = 'name').size().to_frame().reset_index().rename(columns = {'name': 'language', 0:'Number of movies where such language is spoken'})

            language  Number of movies where such language is spoken
0                                                                 54
1             ??????                                               1
2          Afrikaans                                               7
3   Bahasa indonesia                                               2
4         Bamanankan                                               1
5           Bosanski                                               2
6             Català                                               1
7            Cymraeg                                               2
8              Dansk                                              14
9            Deutsch                                             262
10             Eesti                                               2
11           English                                            4485
12           Español                                             351
13         Esperanto                                               2
14          Français                                             437
15           Gaeilge                                               6
16            Galego                                               1
17          Hrvatski                                               4
18          Italiano                                             188
19         Kiswahili                                               8
20             Latin                                              52
21            Magyar                                              42
22        Nederlands                                              10
23       No Language                                               2
24             Norsk                                              13
25            Polski                                              53
26         Português                                              68
27           Pусский                                             185
28            Română                                              13
29        Slovenčina                                               2
..               ...                                             ...
32            Srpski                                               6
33        Tiếng Việt                                              17
34            Türkçe                                              18
35             Wolof                                               1
36           isiZulu                                               4
37             shqip                                               4
38             suomi                                               3
39           svenska                                              22
40          Íslenska                                               5
41             Český                                              38
42          ελληνικά                                              20
43       Український                                               9
44    български език                                               3
45             қазақ                                               2
46          עִבְרִית                                              33
47              اردو                                              15
48           العربية                                              67
49             فارسی                                              12
50              پښتو                                               2
51            हिन्दी                                              48
52             বাংলা                                               1
53            ਪੰਜਾਬੀ                                               4
54             தமிழ்                                               4
55            తెలుగు                                               1
56           ภาษาไทย                                              40
57           ქართული                                               1
58         广州话 / 廣州話                                              48
59               日本語                                              97
60               普通话                                             107
61           한국어/조선말                                              31

[62 rows x 2 columns]

In [70]:
#10. For each company and each decade, compute the overall revenue
def estract_decade(year):
    return str(year)[:3] + '0'

mv_norm['release_decade'] = mv_norm['release_date'].apply(pd.to_datetime).apply(extract_year).apply(estract_decade)

companies_upgraded = production_companies.merge(right = mv_norm[['id', 'revenue','release_decade']], on = 'id')
companies_upgraded.groupby(by = ['name', 'release_decade']).sum().drop('id', axis = 1)

                                                                    revenue
name                                             release_decade
"DIA" Productions GmbH & Co. KG                  2000              44350926
1.85 Films                                       2010                 98017
10 West Studios                                  2010                     0
100 Bares                                        2000              33965843
                                                 2010              24000000
1019 Entertainment                               2010               2801508
101st Street Films                               1990                     0
10th Hole Productions                            2010              34705850
120 Films                                        2000                   792
120dB Films                                      2000                 71904
                                                 2010                     0
13 Ghosts Productions Canada Inc.                2000                     0
1492 Pictures                                    1990             223532389
                                                 2000            3956683497
                                                 2010             874772366
16 Block Productions                             2000              65664721
1812 Productions                                 2010                     0
1818                                             1980              12232628
1821 Pictures                                    2000              31912793
                                                 2010              16405445
19 Entertainment                                 2000               4922166
1984 Private Defense Contractors                 2010             190619464
2 Entertain                                      2000              37311672
2 Loop Films                                     2000                150277
2.4.7. Films                                     2000                     0
2003 Productions                                 2000                     0
20th Century Fox Home Entertainment              2000              17280326
20th Century Fox Russia                          2010              89328627
21 Laps Entertainment                            2000            1286768841
                                                 2010            1062029612
...                                                                     ...
Zoetrope Studios                                 1970              89460381
Zookeeper Productions                            2010             169852759
Zoom Hunt International Productions Company Ltd. 2000             213525736
Zucker/Netter Productions                        2000             330208309
Zupnik Cinema Group II                           1990              10725228
Zwart Arbeid                                     2000               1984662
area japan                                       2000                317000
bob industries                                   2010              52501541
chateau productions                              1970                    11
d-rights                                         2000             234710455
double A Films                                   2000               9304609
every tribe entertainment                        2000                     0
i5 Films                                         2000                     0
icon                                             2000               3031801
kNow Productions                                 2010                     0
lucky crow films                                 2000                     0
nWave Pictures                                   2010                     0
ntc                                              2000                     0
platinum studios                                 2010               4634062
rusty bear entertainment                         2000                     0
thefyzz                                          2010              10501938
thinkfilm                                        2000            1169069335
uFilm                                            2000             159093068
                                                 2010             137197583
unafilm                                          2010                     0
verture Films                                    2000                     0
warner bross Turkey                              2010             320170008
winchester films                                 2000                     0
África Filmes                                    2010                     0
Österreichischer Rundfunk (ORF)                  2000              92180910

[6123 rows x 1 columns]

In [102]:
#11. For each decade, compute the company with maximum revenue
companies_upgraded.iloc[companies_upgraded[['name','release_decade','revenue']].groupby(by ='release_decade', as_index = False).idxmax()['revenue']]

,id,name,original_title,revenue,release_decade
13415,3059,Triangle Film Corporation,Intolerance,8394751,1910
13509,3060,Metro-Goldwyn-Mayer (MGM),The Big Parade,22000000,1920
11961,770,Selznick International Pictures,Gone with the Wind,400176459,1930
13193,3170,Walt Disney Productions,Bambi,267447150,1940
11365,29912,Twentieth Century Fox Film Corporation,The Robe,36000000,1950
10564,15121,Twentieth Century Fox Film Corporation,The Sound of Music,286214286,1960
9640,11,Lucasfilm,Star Wars,775398007,1970
9788,601,Universal Pictures,E.T. the Extra-Terrestrial,792910554,1980
91,597,Paramount Pictures,Titanic,1845034188,1990
0,19995,Ingenious Film Partners,Avatar,2787965087,2000
57,24428,Paramount Pictures,The Avengers,1519557910,2010

In [94]:
#12. In each year, how many movies have revenue smaller than the budget?
mv_norm['release_year'] = mv_norm['release_date'].apply(pd.to_datetime).apply(extract_year)
mv_norm[mv_norm['gross_margin'] < 0].groupby(by = 'release_year').size()

release_year
1927.0     1
1947.0     1
1948.0     1
1954.0     1
1962.0     1
1963.0     1
1964.0     2
1965.0     3
1966.0     1
1968.0     2
1969.0     1
1970.0     4
1971.0     1
1972.0     1
1974.0     1
1977.0     4
1978.0     1
1979.0     2
1980.0     5
1981.0    11
1982.0     1
1983.0     5
1984.0     9
1985.0     9
1986.0     9
1987.0     3
1988.0     4
1989.0     6
1990.0     4
1991.0    10
1992.0     9
1993.0    15
1994.0    15
1995.0    19
1996.0    32
1997.0    33
1998.0    39
1999.0    55
2000.0    53
2001.0    56
2002.0    71
2003.0    47
2004.0    61
2005.0    55
2006.0    63
2007.0    55
2008.0    64
2009.0    78
2010.0    65
2011.0    70
2012.0    52
2013.0    62
2014.0    59
2015.0    67
2016.0    26
dtype: int64