# Progetto CS

Paolo Merola & Mattia Fratello

In [1]:
# Starting from the The Movie DataBase (TMDB) sample datasets:

import pandas as pd
import numpy as np

cr = pd.read_csv("C:/Users/matti/Desktop/UNIMIB/Magistrale/Materie Primo semestre/Foundation of CS/progetto/movies/tmdb_5000_credits.csv")
mv = pd.read_csv("C:/Users/matti/Desktop/UNIMIB/Magistrale/Materie Primo semestre/Foundation of CS/progetto/movies/tmdb_5000_movies.csv")
mv.rename(columns={'id':'movie_id'}, inplace=True)

In [2]:
# può movie_id essere utilizzato come indice univoco?

def check_uniqueness(df, column):
    return len(df[column]) == len(df[column].drop_duplicates())
check_uniqueness(cr,'movie_id') and check_uniqueness(mv,'movie_id')

True

In [3]:
# Overview of ds cr
  
cr.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
# Overview of ds mv

mv.head()

,budget,genres,homepage,movie_id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [3]:
# Funzione per estrarre i df scritti in json
# result è una Series di Dataframe
# movie_id è una Series degli ID dei film, nello stesso ordine dei dataframe contenuti in result
# si attacca ad ogni dataframe result l'id del film a cui si riferisce
# dalla Series di Dataframe ricavo un unico Dataframe

def extract_json(df, column):
    result = df[column].apply(pd.read_json) 
    movie_id = df['movie_id'] 
    for i in range(len(df)):
        result[i]['movie_id'] = movie_id[i] 
    return pd.concat(result.values).reset_index().drop("index", axis = 1)

In [4]:
# Si estraggono tutti i json e vengono eliminate le corrispondenti colonne nei df iniziali

cast = extract_json(cr,'cast')

crew = extract_json(cr,'crew')

genres = extract_json(mv,'genres')

keywords = extract_json(mv,'keywords')

production_companies = extract_json(mv,'production_companies')

production_countries = extract_json(mv,'production_countries')

spoken_languages = extract_json(mv,'spoken_languages')


movies = mv.drop(['genres', 'keywords', 'production_companies', 'production_countries', 'spoken_languages'],axis = 1)

credits = cr.drop(['cast', 'crew'], axis = 1)

In [5]:
# Vengono resi più leggibili cast e crew: si rinominano le colonne con nomi parlanti 
# Viene trasformato il gender da valore numerico a stringa e si ritrasformano in interi i valori castati a float per errore

cast.rename(columns = {'id': 'actor_id'}, inplace = True)
crew.rename(columns = {'id': 'crew_id'}, inplace = True)

cast.replace({"gender": {0.0: np.nan, 1.0: "F", 2.0: "M"}}, inplace = True)
crew.replace({"gender": {0.0: np.nan, 1.0: "F", 2.0: "M"}}, inplace = True)

cast[['cast_id', 'actor_id', 'order']] = cast[['cast_id','actor_id', 'order']].applymap(int)
crew['crew_id'] = crew['crew_id'].apply(int)

In [6]:
# 1. For each movie, compute the number of cast members

actors_each_movie_id = cast.groupby(by = ['movie_id',], as_index = False).size().to_frame().reset_index().rename(columns = {0:'number of actors'})
actors_each_title = actors_each_movie_id.merge(right = credits[['movie_id','title']], on = 'movie_id')
actors_each_title

,movie_id,number of actors,title
0,5,24,Four Rooms
1,11,106,Star Wars
2,12,24,Finding Nemo
3,13,66,Forrest Gump
4,14,40,American Beauty
5,16,29,Dancer in the Dark
6,18,115,The Fifth Element
7,19,21,Metropolis
8,20,12,My Life Without Me
9,22,70,Pirates of the Caribbean: The Curse of the Bla...
10,24,36,Kill Bill: Vol. 1
11,25,20,Jarhead
12,28,36,Apocalypse Now
13,33,33,Unforgiven
14,35,21,The Simpsons Movie
15,38,19,Eternal Sunshine of the Spotless Mind
16,55,25,Amores perros
17,58,33,Pirates of the Caribbean: Dead Man's Chest
18,59,15,A History of Violence
19,62,60,2001: A Space Odyssey
20,65,19,8 Mile
21,66,11,Absolute Power
22,68,22,Brazil
23,69,45,Walk the Line
24,70,49,Million Dollar Baby
25,71,17,Billy Elliot
26,73,53,American History X
27,74,29,War of the Worlds
28,75,22,Mars Attacks!
29,76,27,Before Sunrise
...,...,...,...
4730,370662,5,Time to Choose
4731,370980,11,Chiamatemi Francesco - Il Papa della gente
4732,371690,10,Rotor DR1
4733,373314,8,Misconduct
4734,374461,11,Mr. Church
4735,375290,19,Airlift
4736,375950,36,The Country Doctor
4737,376004,6,Adulterers
4738,376010,11,Western Religion
4739,376659,33,Bad Moms
4740,378200,15,The Perfect Match
4741,379532,19,Rodeo Girl
4742,380733,6,Fight to the Finish
4743,381902,11,The Monkey King 2
4744,385383,16,Fight Valley
4745,385636,7,Juliet and Alfa Romeo
4746,385736,11,Kicks
4747,386826,5,A Beginner's Guide to Snuff
4748,389425,12,Code of Honor
4749,394047,30,The Dog Lover
4750,395766,9,The Secret
4751,396152,4,Restoration
4752,402515,4,American Beast
4753,407887,14,Operation Chromite
4754,408429,10,Perfect Cowboy
4755,417859,25,Puss in Boots
4756,426067,12,Midnight Cabaret
4757,426469,23,Growing Up Smith
4758,433715,4,8 Days
4759,459488,1,"To Be Frank, Sinatra at 100"

In [9]:
# (esempio) interrogare il dataset: quanti attori per il film Avatar? 

actors_each_title[actors_each_title['title']=='Avatar']

      movie_id  number of actors   title
2700     19995                83  Avatar

In [7]:
# 2. How many movies do not have a homepage?

mv1 = mv.dropna(subset = ["homepage"])
movies_no_homepage = len(mv) - len(mv1) 
print(movies_no_homepage, "movies do not have a homepage")

3091 movies do not have a homepage

In [8]:
# 3. For each year, how many movies do not have a homepage?

mv2 = mv[mv.homepage.isnull()]
mv2["year"] = mv2["release_date"].str.extract("(.*)-.*-.*", expand = True)
mv_nohomepage_peryear = mv2.groupby("year").size().to_frame().reset_index().rename(columns = {0:'movies without homepage'})
mv_nohomepage_peryear.tail()

C:\Users\matti\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

    year  movies without homepage
84  2012                       92
85  2013                      127
86  2014                      157
87  2015                      110
88  2016                       31

In [12]:
# (esempio) interrogare il dataset: per l'anno 1929 quanti film non hanno una homepage? 

mv_nohomepage_peryear[mv_nohomepage_peryear['year']=='1929']

   year  movies without homepage
3  1929                        2

In [13]:
# quali?

mv2[['title','year','homepage']][mv2['year']=='1929']

                    title  year homepage
4457        Pandora's Box  1929      NaN
4594  The Broadway Melody  1929      NaN

In [9]:
# 4. Extract the domain of each homepage

def extract_domain(hp):
    domains = []
    homepage = hp.split(" ")
    for i in range(len(homepage)):
        domains.append(homepage[i].split('/')[2].split('.')[-1])
    return str(domains)[1:-1].replace("\'", "")
   
mv1["domains"] = mv1["homepage"].apply(extract_domain)
mv1[["original_title", "homepage", "domains"]]

C:\Users\matti\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

,original_title,homepage,domains
0,Avatar,http://www.avatarmovie.com/,com
1,Pirates of the Caribbean: At World's End,http://disney.go.com/disneypictures/pirates/,com
2,Spectre,http://www.sonypictures.com/movies/spectre/,com
3,The Dark Knight Rises,http://www.thedarkknightrises.com/,com
4,John Carter,http://movies.disney.com/john-carter,com
5,Spider-Man 3,http://www.sonypictures.com/movies/spider-man3/,com
6,Tangled,http://disney.go.com/disneypictures/tangled/,com
7,Avengers: Age of Ultron,http://marvel.com/movies/movie/193/avengers_ag...,com
8,Harry Potter and the Half-Blood Prince,http://harrypotter.warnerbros.com/harrypottera...,com
9,Batman v Superman: Dawn of Justice,http://www.batmanvsupermandawnofjustice.com/,com
10,Superman Returns,http://www.superman.com,com
11,Quantum of Solace,http://www.mgm.com/view/movie/234/Quantum-of-S...,com
12,Pirates of the Caribbean: Dead Man's Chest,http://disney.go.com/disneypictures/pirates/,com
13,The Lone Ranger,http://disney.go.com/the-lone-ranger/,com
14,Man of Steel,http://www.manofsteel.com/,com
16,The Avengers,http://marvel.com/avengers_movie/,com
17,Pirates of the Caribbean: On Stranger Tides,http://disney.go.com/pirates/index-on-stranger...,com
18,Men in Black 3,http://www.sonypictures.com/movies/meninblack3/,com
19,The Hobbit: The Battle of the Five Armies,http://www.thehobbit.com/,com
20,The Amazing Spider-Man,http://www.theamazingspiderman.com,com
21,Robin Hood,http://www.robinhoodthemovie.com/,com
22,The Hobbit: The Desolation of Smaug,http://www.thehobbit.com/,com
23,The Golden Compass,http://www.goldencompassmovie.com/index_german...,com
25,Titanic,http://www.titanicmovie.com,com
26,Captain America: Civil War,http://marvel.com/captainamericapremiere,com
28,Jurassic World,http://www.jurassicworld.com/,com
29,Skyfall,http://www.skyfall-movie.com,com
30,Spider-Man 2,http://www.sonypictures.com/movies/spider-man2/,com
31,Iron Man 3,http://marvel.com/ironman3,com
32,Alice in Wonderland,http://disney.go.com/wonderland/,com
...,...,...,...
4695,بچه‌های آسمان,http://www.miramax.com/movie/children-of-heaven/,com
4696,Weekend,http://weekenderfilm.tumblr.com/,com
4700,Another Earth,http://www.anotherearth.com/,com
4701,Sweet Sweetback's Baadasssss Song,http://www.sonyclassics.com/badass/,com
4704,Once,http://www.foxsearchlight.com/once/,com
4711,Aroused,http://thearousedproject.com/,com
4717,Your Sister's Sister,http://www.yoursisterssister-themovie.com/,com
4718,A Dog's Breakfast,http://www.adogsbreakfastmovie.com/,com
4720,The Birth of a Nation,http://www.foxsearchlight.com/thebirthofanation/,com
4722,Facing the Giants,http://www.facingthegiants.com/,com
4723,The Gallows,http://thegallowsmovie.com/,com
4731,Indie Game: The Movie,http://www.indiegamethemovie.com,com
4738,Pi,http://www.pithemovie.com/,com
4746,Tiger Orange,http://www.tigerorangemovie.com/,com
4750,The Dirties,http://www.thedirtiesthemovie.com/,com
4752,Tiny Furniture,http://tinyfurniture.com/,com
4756,The Call of Cthulhu,http://www.cthulhulives.org/cocmovie/index.html,org
4757,Bending Steel,http://www.bendingsteelmovie.com/,com
4758,The Signal,https://www.facebook.com/thesignalfilm,com
4760,This Is Martin Bonner,http://www.montereymedia.com/theatrical/films/...,com
4765,Raymond Did It,https://www.facebook.com/pages/Raymond-Did-It/...,com
4766,The Last Waltz,http://www.mgm.com/#/our-titles/1092/The-Last-...,com
4772,Down Terrace,http://downterrace.blogspot.com/,com
4773,Clerks,http://www.miramax.com/movie/clerks/,com
4781,Dry Spell,https://www.facebook.com/DrySpellMovie,com
4784,The Puffy Chair,http://www.thepuffychairmovie.com,com
4791,Tin Can Man,http://tincanmanthemovie.com/,com
4796,Primer,http://www.primermovie.com,com
4800,"Signed, Sealed, Delivered",http://www.hallmarkchannel.com/signedsealeddel...,com
4801,Shanghai Calling,http://shanghaicalling.com/,com

In [15]:
# (esempio) interrogare il dataset: qual è il domain per il film Cargo?

mv1[["original_title", "homepage", "domains"]][mv1["original_title"] ==  "Cargo"]

# CASO PARTICOLARE = il film Cargo presenta due domain!!!

,original_title,homepage,domains
3730,Cargo,http://www.cargoderfilm.ch http://cargothemovi...,"ch, com"

In [10]:
# 5. Extract a set of normalized tables.

actors = cast[['actor_id' , 'name', 'gender']].drop_duplicates()
actors_norm = actors.set_index('actor_id')

workers = crew[['crew_id','name','gender']].drop_duplicates()
workers_norm = workers.set_index('crew_id')

cast.drop(['name', 'gender' ], axis = 1, inplace = True)
cast_norm = cast.set_index('credit_id')

crew.drop(['name', 'gender' ], axis = 1, inplace = True)
crew_norm = crew.set_index('credit_id')

genres.rename(columns = {'id': 'genre_id'}, inplace = True)
genres['genre_id'] = genres['genre_id'].apply(int)
genres_name = genres[['genre_id','name']].drop_duplicates()
genres_name_norm = genres_name.set_index('genre_id').sort_index()
genres.drop('name',inplace = True, axis = 1)
genres_norm = genres.set_index(['genre_id','movie_id'])

keywords.rename(columns = {'id': 'keyword_id'}, inplace = True)
keywords['keyword_id'] = keywords['keyword_id'].apply(int)
keywords_name = keywords[['keyword_id','name']].drop_duplicates()
keywords_name_norm = keywords_name.set_index('keyword_id').sort_index()
keywords.drop('name',inplace = True, axis = 1)
keywords_norm = keywords.set_index(['keyword_id','movie_id'])

production_companies.rename(columns ={'id': 'company_id'}, inplace = True)
production_companies_name = production_companies[['company_id','name']].drop_duplicates()
production_companies_name_norm = production_companies_name.set_index('company_id').sort_index()
production_companies.drop('name',inplace = True, axis = 1)
production_companies_norm = production_companies.set_index(['company_id','movie_id'])

production_countries_name = production_countries[['iso_3166_1','name']].drop_duplicates()
production_countries_name_norm = production_countries_name.set_index('iso_3166_1').sort_index()
production_countries.drop('name',inplace = True, axis = 1)
production_countries_norm = production_countries.set_index(['iso_3166_1','movie_id'])

spoken_languages_name = spoken_languages[['iso_639_1','name']].drop_duplicates()
spoken_languages_name_norm = spoken_languages_name.set_index('iso_639_1').sort_index()
spoken_languages.drop('name',inplace = True, axis = 1)
spoken_languages_norm = spoken_languages.set_index(['iso_639_1','movie_id'])

In [11]:
# Overview of df movies_norm
# la tabella credits non è utile normalizzarla perchè movie_id e title sono già contenute in movies

movies_norm = movies.set_index('movie_id')
movies_norm.head()

,budget,homepage,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count
movie_id,,,,,,,,,,,,,,
19995,237000000,http://www.avatarmovie.com/,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,2787965087,162.0,Released,Enter the World of Pandora.,Avatar,7.2,11800
285,300000000,http://disney.go.com/disneypictures/pirates/,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,961000000,169.0,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
206647,245000000,http://www.sonypictures.com/movies/spectre/,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,880674609,148.0,Released,A Plan No One Escapes,Spectre,6.3,4466
49026,250000000,http://www.thedarkknightrises.com/,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,1084939099,165.0,Released,The Legend Ends,The Dark Knight Rises,7.6,9106
49529,260000000,http://movies.disney.com/john-carter,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,284139100,132.0,Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [12]:
# Overview of df cast

cast_norm.head()

,cast_id,character,actor_id,movie_id,order
credit_id,,,,,
5602a8a7c3a3685532001c9a,242,Jake Sully,65731,19995,0
52fe48009251416c750ac9cb,3,Neytiri,8691,19995,1
52fe48009251416c750aca39,25,Dr. Grace Augustine,10205,19995,2
52fe48009251416c750ac9cf,4,Col. Quaritch,32747,19995,3
52fe48009251416c750ac9d3,5,Trudy Chacon,17647,19995,4

In [13]:
# Overview of df actors

actors_norm.head()

                        name gender
actor_id
65731        Sam Worthington      M
8691             Zoe Saldana      F
10205       Sigourney Weaver      F
32747           Stephen Lang      M
17647     Michelle Rodriguez      F

In [14]:
# Overview of df crew

crew_norm.head()

,department,crew_id,job,movie_id
credit_id,,,,
52fe48009251416c750aca23,Editing,1721,Editor,19995
539c47ecc3a36810e3001f87,Art,496,Production Design,19995
54491c89c3a3680fb4001cf7,Sound,900,Sound Designer,19995
54491cb70e0a267480001bd0,Sound,900,Supervising Sound Editor,19995
539c4a4cc3a36810c9002101,Production,1262,Casting,19995

In [15]:
# Overview of df workers

workers_norm.head()

                      name gender
crew_id
1721     Stephen E. Rivkin    NaN
496            Rick Carter      M
900      Christopher Boyes    NaN
1262             Mali Finn      F
1729          James Horner      M

In [16]:
# Overview of df genres

genres_norm.head()

Empty DataFrame
Columns: []
Index: [(28, 19995), (12, 19995), (14, 19995), (878, 19995), (12, 285)]

In [17]:
# Overview of df genres_name

genres_name_norm.head()

               name
genre_id
12        Adventure
14          Fantasy
16        Animation
18            Drama
27           Horror

In [18]:
# Overview of df keywords 

keywords_norm.head()

Empty DataFrame
Columns: []
Index: [(1463, 19995), (2964, 19995), (3386, 19995), (3388, 19995), (3679, 19995)]

In [19]:
# Overview of df keywords_name

keywords_name_norm.head()

                        name
keyword_id
30                individual
65                   holiday
74                   germany
75                gunslinger
83          saving the world

In [20]:
# Overview of df production_companies 

production_companies_norm.head()

Empty DataFrame
Columns: []
Index: [(289.0, 19995), (306.0, 19995), (444.0, 19995), (574.0, 19995), (2.0, 285)]

In [21]:
# Overview of df production_companies_name

production_companies_name_norm.head()

                               name
company_id
1.0                       Lucasfilm
2.0            Walt Disney Pictures
3.0         Pixar Animation Studios
4.0              Paramount Pictures
5.0               Columbia Pictures

In [22]:
# Overview of df production_countries 

production_countries_norm.head()

Empty DataFrame
Columns: []
Index: [(US, 19995), (GB, 19995), (US, 285), (GB, 206647), (US, 206647)]

In [23]:
# Overview of df production_countries_name

production_countries_name_norm.head()

                            name
iso_3166_1
AE          United Arab Emirates
AF                   Afghanistan
AO                        Angola
AR                     Argentina
AT                       Austria

In [24]:
# Overview of df spoken_languages 

spoken_languages_norm.head()

Empty DataFrame
Columns: []
Index: [(en, 19995), (es, 19995), (en, 285), (fr, 206647), (en, 206647)]

In [25]:
# Overview of df spoken_languages_name

spoken_languages_name_norm.head()

                     name
iso_639_1
af              Afrikaans
am
ar                العربية
bg         български език
bm             Bamanankan

In [26]:
# 6. For each movie, compute the gross margin (difference between revenue and budget)

movies["gross_margin"] = movies["revenue"] - movies["budget"]
movies_gross_margin = movies[['title','gross_margin']]
movies_gross_margin

                                            title  gross_margin
0                                          Avatar    2550965087
1        Pirates of the Caribbean: At World's End     661000000
2                                         Spectre     635674609
3                           The Dark Knight Rises     834939099
4                                     John Carter      24139100
5                                    Spider-Man 3     632871626
6                                         Tangled     331794936
7                         Avengers: Age of Ultron    1125403694
8          Harry Potter and the Half-Blood Prince     683959197
9              Batman v Superman: Dawn of Justice     623260194
10                               Superman Returns     121081192
11                              Quantum of Solace     386090727
12     Pirates of the Caribbean: Dead Man's Chest     865659812
13                                The Lone Ranger    -165710090
14                                   Man of Steel     437845518
15       The Chronicles of Narnia: Prince Caspian     194651413
16                                   The Avengers    1299557910
17    Pirates of the Caribbean: On Stranger Tides     665713802
18                                 Men in Black 3     399026776
19      The Hobbit: The Battle of the Five Armies     706019788
20                         The Amazing Spider-Man     537215857
21                                     Robin Hood     110669540
22            The Hobbit: The Desolation of Smaug     708400000
23                             The Golden Compass     192234864
24                                      King Kong     343000000
25                                        Titanic    1645034188
26                     Captain America: Civil War     903304495
27                                     Battleship      94025485
28                                 Jurassic World    1363528810
29                                        Skyfall     908561013
...                                           ...           ...
4773                                       Clerks       3124130
4774                               Pink Narcissus        -27000
4775                                  Funny Ha Ha         76901
4776                        In the Company of Men             0
4777                                       Manito             0
4778                                      Rampage             0
4779                                      Slacker             0
4780                                  Dutch Kills             0
4781                                    Dry Spell        -22000
4782                                     Flywheel             0
4783                                     Backmask             0
4784                              The Puffy Chair             0
4785                         Stories of Our Lives             0
4786                             Breaking Upwards             0
4787                     All Superheroes Must Die             0
4788                               Pink Flamingos       5988000
4789                                        Clean             0
4790                                   The Circle             0
4791                                  Tin Can Man           -13
4792                                         Cure         79000
4793                               On The Downlow             0
4794                 Sanctuary: Quite a Conundrum             0
4795                                         Bang             0
4796                                       Primer        417760
4797                                       Cavite             0
4798                                  El Mariachi       1820920
4799                                    Newlyweds         -9000
4800                    Signed, Sealed, Delivered             0
4801                             Shanghai Calling             0
4802                            My Date with Drew             0

[4803 rows x 2 columns]

In [27]:
# (esempio) interrogare il dataset: qual è il gross margin per il film Cargo?

movies[["title", "gross_margin"]][movies["title"] ==  "Cargo"]

      title  gross_margin
3730  Cargo             0

In [28]:
# 7. For each movie, compute the number of crew members

crew_each_movie_id = crew.groupby(by = ['movie_id',], as_index = False).size().to_frame().reset_index().rename(columns = {0:'number of workers'})
crew_each_title = crew_each_movie_id.merge(right = movies[['movie_id','title']], on = 'movie_id')
crew_each_title

,movie_id,number of workers,title
0,5,88,Four Rooms
1,11,20,Star Wars
2,12,104,Finding Nemo
3,13,93,Forrest Gump
4,14,109,American Beauty
5,16,62,Dancer in the Dark
6,18,134,The Fifth Element
7,19,22,Metropolis
8,20,17,My Life Without Me
9,22,128,Pirates of the Caribbean: The Curse of the Bla...
10,24,161,Kill Bill: Vol. 1
11,25,10,Jarhead
12,28,49,Apocalypse Now
13,33,43,Unforgiven
14,35,66,The Simpsons Movie
15,38,21,Eternal Sunshine of the Spotless Mind
16,55,59,Amores perros
17,58,23,Pirates of the Caribbean: Dead Man's Chest
18,59,35,A History of Violence
19,62,19,2001: A Space Odyssey
20,65,92,8 Mile
21,66,18,Absolute Power
22,68,30,Brazil
23,69,65,Walk the Line
24,70,81,Million Dollar Baby
25,71,17,Billy Elliot
26,73,100,American History X
27,74,164,War of the Worlds
28,75,21,Mars Attacks!
29,76,12,Before Sunrise
...,...,...,...
4745,370662,3,Time to Choose
4746,370980,6,Chiamatemi Francesco - Il Papa della gente
4747,371690,14,Rotor DR1
4748,373314,14,Misconduct
4749,374461,9,Mr. Church
4750,375290,13,Airlift
4751,375950,5,The Country Doctor
4752,376004,41,Adulterers
4753,376010,3,Western Religion
4754,376659,4,Bad Moms
4755,378200,5,The Perfect Match
4756,379532,9,Rodeo Girl
4757,380733,1,Fight to the Finish
4758,381902,3,The Monkey King 2
4759,385383,7,Fight Valley
4760,385636,8,Juliet and Alfa Romeo
4761,385736,15,Kicks
4762,386826,7,A Beginner's Guide to Snuff
4763,389425,29,Code of Honor
4764,394047,6,The Dog Lover
4765,395766,2,The Secret
4766,396152,3,Restoration
4767,402515,2,American Beast
4768,407887,5,Operation Chromite
4769,408429,1,Perfect Cowboy
4770,417859,21,Puss in Boots
4771,426067,1,Midnight Cabaret
4772,426469,3,Growing Up Smith
4773,433715,3,8 Days
4774,459488,1,"To Be Frank, Sinatra at 100"

In [29]:
# (esempio) interrogare il dataset: quanti membri per la crew del film #Horror? 

crew_each_title[crew_each_title['title']=='#Horror']

      movie_id  number of workers    title
4609    301325                  6  #Horror

In [30]:
# 8. For each movie, compute the number of directors

directors_each_movie_id = crew[crew['job']=='Director'].groupby(by = 'movie_id').size().to_frame().reset_index().rename(columns = {0:'number of directors'})
directors_each_title = directors_each_movie_id.merge(right = movies[['movie_id','title']], on = 'movie_id')
directors_each_title

,movie_id,number of directors,title
0,5,4,Four Rooms
1,11,1,Star Wars
2,12,1,Finding Nemo
3,13,1,Forrest Gump
4,14,1,American Beauty
5,16,1,Dancer in the Dark
6,18,1,The Fifth Element
7,19,1,Metropolis
8,20,1,My Life Without Me
9,22,1,Pirates of the Caribbean: The Curse of the Bla...
10,24,1,Kill Bill: Vol. 1
11,25,1,Jarhead
12,28,1,Apocalypse Now
13,33,1,Unforgiven
14,35,1,The Simpsons Movie
15,38,1,Eternal Sunshine of the Spotless Mind
16,55,1,Amores perros
17,58,1,Pirates of the Caribbean: Dead Man's Chest
18,59,1,A History of Violence
19,62,1,2001: A Space Odyssey
20,65,1,8 Mile
21,66,1,Absolute Power
22,68,1,Brazil
23,69,1,Walk the Line
24,70,1,Million Dollar Baby
25,71,1,Billy Elliot
26,73,1,American History X
27,74,1,War of the Worlds
28,75,1,Mars Attacks!
29,76,1,Before Sunrise
...,...,...,...
4743,370662,1,Time to Choose
4744,370980,1,Chiamatemi Francesco - Il Papa della gente
4745,371690,1,Rotor DR1
4746,373314,1,Misconduct
4747,374461,1,Mr. Church
4748,375290,1,Airlift
4749,375950,1,The Country Doctor
4750,376004,1,Adulterers
4751,376010,1,Western Religion
4752,376659,2,Bad Moms
4753,378200,1,The Perfect Match
4754,379532,1,Rodeo Girl
4755,380733,1,Fight to the Finish
4756,381902,1,The Monkey King 2
4757,385383,1,Fight Valley
4758,385636,1,Juliet and Alfa Romeo
4759,385736,1,Kicks
4760,386826,1,A Beginner's Guide to Snuff
4761,389425,1,Code of Honor
4762,394047,1,The Dog Lover
4763,395766,1,The Secret
4764,396152,1,Restoration
4765,402515,2,American Beast
4766,407887,1,Operation Chromite
4767,408429,1,Perfect Cowboy
4768,417859,1,Puss in Boots
4769,426067,1,Midnight Cabaret
4770,426469,1,Growing Up Smith
4771,433715,1,8 Days
4772,459488,1,"To Be Frank, Sinatra at 100"

In [31]:
# (esempio) interrogare il dataset: quanti direttori per il film Cargo? 

directors_each_title[directors_each_title['title']=='Cargo']

      movie_id  number of directors  title
3087     34069                    2  Cargo

In [32]:
# 9. For each language, compute the number of movies where such language is spoken.

movies_each_language = spoken_languages.groupby(by = ['iso_639_1'], as_index = False).size().to_frame().reset_index().rename(columns = {0:'number of movies'})
movies_each_language

   iso_639_1  number of movies
0         af                 7
1         am                 1
2         ar                67
3         bg                 3
4         bm                 1
5         bn                 1
6         bo                 4
7         br                 1
8         bs                 2
9         ca                 1
10        ce                 1
11        cn                48
12        co                 1
13        cs                38
14        cy                 2
15        da                14
16        de               262
17        dz                 1
18        el                20
19        en              4485
20        eo                 2
21        es               351
22        et                 2
23        fa                12
24        fi                 3
25        fr               437
26        ga                 6
27        gd                 6
28        gl                 1
29        he                33
..       ...               ...
57        ps                 2
58        pt                68
59        ro                13
60        ru               185
61        sa                 1
62        sh                 4
63        si                 1
64        sk                 2
65        sl                 1
66        so                 3
67        sq                 4
68        sr                 6
69        st                 1
70        sv                22
71        sw                 8
72        ta                 4
73        te                 1
74        th                40
75        tl                 1
76        to                 1
77        tr                18
78        uk                 9
79        ur                15
80        vi                17
81        wo                 1
82        xh                 4
83        xx                 2
84        yi                 8
85        zh               107
86        zu                 4

[87 rows x 2 columns]

In [33]:
# (esempio) interrogare il dataset: quanti film vengono trasmessi in italiano? 

movies_each_language[movies_each_language['iso_639_1']=='it']

   iso_639_1  number of movies
36        it               188

In [34]:
# 10. For each company and each decade, compute the overall revenue

movies["year"] = movies["release_date"].str.extract("(.*)-.*-.*", expand = True)

def estract_decade(year):
    return str(year)[:3] + '0'

movies['decade'] = movies['year'].apply(estract_decade)
movies_companies_id = production_companies.merge(right = movies[['movie_id','revenue','decade']], on = 'movie_id')
movies_companies_name = production_companies_name.merge(right = movies_companies_id[['company_id','revenue','decade']], on = 'company_id')
overall_companies_revenue = movies_companies_name.groupby(by = ['company_id','name','decade'], as_index = False).sum()
overall_companies_revenue

      company_id                                      name decade      revenue
0            1.0                                 Lucasfilm   1970    915398007
1            1.0                                 Lucasfilm   1980   2430621397
2            1.0                                 Lucasfilm   1990    924317558
3            1.0                                 Lucasfilm   2000   2286034361
4            1.0                                 Lucasfilm   2010     50365377
5            2.0                      Walt Disney Pictures   1940     83320000
6            2.0                      Walt Disney Pictures   1990   3030921011
7            2.0                      Walt Disney Pictures   2000  11096721366
8            2.0                      Walt Disney Pictures   2010  14472293671
9            3.0                   Pixar Animation Studios   1990   1234179761
10           3.0                   Pixar Animation Studios   2000   4476710793
11           3.0                   Pixar Animation Studios   2010   4098902234
12           4.0                        Paramount Pictures   1920       650422
13           4.0                        Paramount Pictures   1930      2200025
14           4.0                        Paramount Pictures   1950     43000000
15           4.0                        Paramount Pictures   1960    134245712
16           4.0                        Paramount Pictures   1970    796329984
17           4.0                        Paramount Pictures   1980   4431144486
18           4.0                        Paramount Pictures   1990   8824732067
19           4.0                        Paramount Pictures   2000  11536104632
20           4.0                        Paramount Pictures   2010  15110115837
21           5.0                         Columbia Pictures   1930     17033101
22           5.0                         Columbia Pictures   1950      9600000
23           5.0                         Columbia Pictures   1970     31755742
24           5.0                         Columbia Pictures   1980    215572367
25           5.0                         Columbia Pictures   1990   2130030687
26           5.0                         Columbia Pictures   2000  12168859651
27           5.0                         Columbia Pictures   2010  14026783227
28           6.0                        RKO Radio Pictures   1930      3202000
29           6.0                        RKO Radio Pictures   1940     99344124
...          ...                                       ...    ...          ...
6126     90897.0                                   Act III   1980     52287414
6127     91005.0                            Lyrick Studios   1990            0
6128     91542.0                                Aver Media   2000            0
6129     91543.0                         North West Vision   2000            0
6130     91920.0                           Rovio Animation   2010    349779543
6131     91929.0                      Criminal Productions   2010     14708696
6132     92137.0                  Dead Fiancée Productions   2000            0
6133     93101.0                                Keshet Hot   2000            0
6134     93102.0                              Uchovsky Fox   2000            0
6135     93103.0                       Ronen Ben-Tal Films   2000            0
6136     93104.0                      Feingold Productions   2000            0
6137     93105.0                                 IAC Films   2010     11110975
6138     93156.0                                Baby Films   2000            0
6139     93177.0                      Watchmen Productions   2010            0
6140     93280.0                         Friday Four, Inc.   1980     32980880
6141     93380.0                Eleventh Street Production   1990      3011195
6142     93381.0                                 Jon Kilik   1990      3011195
6143     93408.0                         FortyFour Studios   2000    521311860
6144     93521.0                      Rye Road Productions   2000     16633035
6145     93522.0                 Babe Ruthless Productions   2000     16633035
6146     93528.0                 Casual Friday Productions   2000    110230332
6147     93542.0                            bob industries   2010     52501541
6148     93580.0  Wonder works studios entertainment group   2000     72700000
6149     94410.0                  Dracula Productions Inc.   2000            0
6150     94411.0                   Vonnie Von Helmolt Film   2000            0
6151     94551.0                      4Go West Productions   2010            0
6152     94552.0                         Flatiron Pictures   2010            0
6153     94714.0                   Vista Organisation, The   1980            0
6154     95018.0             MPH Entertainment Productions   2000    368744044
6155     95063.0                               Marcy Media   2010    133821816

[6156 rows x 4 columns]

In [35]:
# (esempio) interrogare il dataset: qual è il ricavo complessivo della compagnia Walt Disney Pictures per decade di attività? 

overall_companies_revenue[overall_companies_revenue['name']=='Walt Disney Pictures']

   company_id                  name decade      revenue
5         2.0  Walt Disney Pictures   1940     83320000
6         2.0  Walt Disney Pictures   1990   3030921011
7         2.0  Walt Disney Pictures   2000  11096721366
8         2.0  Walt Disney Pictures   2010  14472293671

In [36]:
# 11. For each decade, compute the company with maximum revenue

max_revenue_fordecade = overall_companies_revenue.groupby(by =['decade'])[["revenue"]].apply(max, axis = 0).reset_index()
max_revenue = max_revenue_fordecade["revenue"].values
decade = max_revenue_fordecade["decade"].values

for i in range(len(max_revenue_fordecade)):
    print(overall_companies_revenue[overall_companies_revenue["decade"]==decade[i]][overall_companies_revenue["revenue"]==max_revenue[i]],"\n")

     company_id                       name decade  revenue
978      1307.0  Triangle Film Corporation   1910  8394751
979      1308.0       Wark Producing Corp.   1910  8394751

      company_id                       name decade   revenue
2694      8411.0  Metro-Goldwyn-Mayer (MGM)   1920  26358000

      company_id                             name decade    revenue
1044      1553.0  Selznick International Pictures   1930  400176459
2695      8411.0        Metro-Goldwyn-Mayer (MGM)   1930  400176459

      company_id                     name decade    revenue
1652      3166.0  Walt Disney Productions   1940  351747150

      company_id                       name decade   revenue
2697      8411.0  Metro-Goldwyn-Mayer (MGM)   1950  73770324

      company_id             name decade    revenue
2560      7576.0  Eon Productions   1960  598134765

     company_id            name decade     revenue
109        60.0  United Artists   1970  1392271577

    company_id                name decade     revenue
17         4.0  Paramount Pictures   1980  4431144486

    company_id                name decade     revenue
18         4.0  Paramount Pictures   1990  8824732067

      company_id          name decade      revenue
2253      6194.0  Warner Bros.   2000  22897419289

    company_id                name decade      revenue
75        33.0  Universal Pictures   2010  15521006459

C:\Users\matti\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [49]:
# PER VEDERE SE E' CORRETTO - entrambe le compagnie vengono correttamente visualizzate

movies_companies_name[movies_companies_name["decade"] == "1910"]

       company_id                       name  revenue decade
13515      1307.0  Triangle Film Corporation  8394751   1910
13516      1308.0       Wark Producing Corp.  8394751   1910

In [50]:
# PER VEDERE SE E' CORRETTO - la Metro-Goldwyn-Mayer viene correttamente visualizzata col totale della revenue per quella decade

movies_companies_name[movies_companies_name["decade"] == "1920"]

       company_id                       name   revenue decade
1442          4.0         Paramount Pictures    650422   1920
1905       8411.0  Metro-Goldwyn-Mayer (MGM)   4358000   1920
1906       8411.0  Metro-Goldwyn-Mayer (MGM)  22000000   1920
11102     12372.0       Universum Film (UFA)    650422   1920
13396      4903.0                 Nero Films         0   1920

In [37]:
# 12. In each year, how many movies have revenue smaller than the budget?

movies_inloss_peryear = movies[movies["gross_margin"] < 0].groupby(by = ("year")).size().reset_index().rename(columns = {0:'movies in loss'})
movies_inloss_peryear.tail()

    year  movies in loss
50  2012              52
51  2013              62
52  2014              59
53  2015              67
54  2016              26

In [38]:
# (esempio) interrogare il dataset: per l'anno 1970 quanti film hanno avuto un ricavo minore del budget (gross_margin < 0)? 

movies_inloss_peryear[movies_inloss_peryear ["year"] == "1970"]

    year  movies in loss
11  1970               4

In [39]:
# quali?

movies[["title", "gross_margin"]][movies["gross_margin"] < 0][movies["year"] == "1970"]

C:\Users\matti\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

                       title  gross_margin
1954                Waterloo     -21948000
2954      The Molly Maguires      -8800000
4316  Cotton Comes to Harlem      -1200000
4474          The Conformist       -750000

In [40]:
# 13. Distribute the revenue according to the order of appearance in a movie. 
# Assume that the i-th actor contributes twice as much as the (i+1)-th actor to the revenue.

movies_revenue = movies_companies_id[['movie_id','revenue']].drop_duplicates()
cast2 = pd.DataFrame()
cast2 = cast.merge(right = actors_each_movie_id.reset_index(), on = 'movie_id').merge(right = movies_revenue, on = 'movie_id')
cast2 = cast2[['actor_id','movie_id','order','number of actors','revenue']].rename(columns = {'number of actors':'num_actors'})


# legge di distribuzione: 2^(n-k-1)/(2^n -1) * revenue = [1/2^k * (1 + 1/(2^n -1))] * revenue = revenue/2^k + revenue/(2^k * (2^n -1))
# la funzione utilizza direttamente le Series con i valori necessari

def assign_part(orders,num_actors,revenues):
   
    part = [0]*len(orders)
    for i in range(len(orders)):
        k = orders[i]
        n = num_actors[i]
        rev = revenues[i]
        e_n = np.exp2(n)
        e_k = np.exp2(k)
        
        number = rev/e_k + rev/(e_k * (e_n -1))
        part[i] = np.round(number/2)
        
    return part
cast2['part'] = assign_part(cast2['order'],cast2['num_actors'],cast2['revenue'])

pd.set_option('display.float_format', lambda x: '%.2f' % x)
cast2

        actor_id  movie_id  order  num_actors     revenue          part
0          65731     19995      0          83  2787965087 1393982544.00
1           8691     19995      1          83  2787965087  696991272.00
2          10205     19995      2          83  2787965087  348495636.00
3          32747     19995      3          83  2787965087  174247818.00
4          17647     19995      4          83  2787965087   87123909.00
5           1771     19995      5          83  2787965087   43561954.00
6          59231     19995      6          83  2787965087   21780977.00
7          30485     19995      7          83  2787965087   10890489.00
8          15853     19995      8          83  2787965087    5445244.00
9          10964     19995      9          83  2787965087    2722622.00
10         95697     19995     10          83  2787965087    1361311.00
11         98215     19995     11          83  2787965087     680656.00
12        154153     19995     12          83  2787965087     340328.00
13        397312     19995     13          83  2787965087     170164.00
14         42317     19995     14          83  2787965087      85082.00
15        986734     19995     15          83  2787965087      42541.00
16       1207227     19995     16          83  2787965087      21270.00
17       1180936     19995     17          83  2787965087      10635.00
18       1019578     19995     18          83  2787965087       5318.00
19         91443     19995     19          83  2787965087       2659.00
20        173391     19995     20          83  2787965087       1329.00
21       1207236     19995     21          83  2787965087        665.00
22        215913     19995     22          83  2787965087        332.00
23        143206     19995     23          83  2787965087        166.00
24        169676     19995     24          83  2787965087         83.00
25       1048610     19995     25          83  2787965087         42.00
26         42288     19995     26          83  2787965087         21.00
27         68278     19995     27          83  2787965087         10.00
28       1207247     19995     28          83  2787965087          5.00
29       1207248     19995     29          83  2787965087          3.00
...          ...       ...    ...         ...         ...           ...
103074   1080293     14337     11          19      424760        104.00
103075   1080294     14337     12          19      424760         52.00
103076   1080295     14337     13          19      424760         26.00
103077   1080296     14337     14          19      424760         13.00
103078   1080297     14337     15          19      424760          6.00
103079   1080298     14337     16          19      424760          3.00
103080    203260     14337     17          19      424760          2.00
103081   1080299     14337     18          19      424760          1.00
103082     20498      9367      0           7     2040920    1028495.00
103083     57470      9367      2           7     2040920     257124.00
103084     57471      9367      3           7     2040920     128562.00
103085   1192733      9367      4           7     2040920      64281.00
103086   1192734      9367      5           7     2040920      32140.00
103087   1293343      9367      6           7     2040920      16070.00
103088   1066358      9367      7           7     2040920       8035.00
103089     11867    231617      0           7           0          0.00
103090     34915    231617      1           7           0          0.00
103091     58393    231617      2           7           0          0.00
103092    119810    231617      3           7           0          0.00
103093     77865    231617      4           7           0          0.00
103094   1037844    231617      5           7           0          0.00
103095     14668    231617      6           7           0          0.00
103096     69597     25975      0           8           0          0.00
103097     85563     25975      1           8           0          0.00
103098      3034     25975      2           8           0          0.00
103099     21315     25975      3           8           0          0.00
103100      2171     25975      4           8           0          0.00
103101      2231     25975      5           8           0          0.00
103102     14407     25975      6           8           0          0.00
103103    155007     25975      7           8           0          0.00

[103104 rows x 6 columns]

In [41]:
# Check: è vero che la somma delle parti dei vari attori corrisponde alla revenue totale?

movies_id = cast2['movie_id'].unique()
for movie_id in movies_id:
    print(cast2[cast2['movie_id'] == movie_id]['revenue'].iloc[0], cast2[cast2['movie_id'] == movie_id]['part'].sum())

2787965087 2787965087.0
961000000 961000000.0
880674609 880674608.0
1084939099 1084939099.0
284139100 284139100.0
890871626 890871625.0
591794936 591794936.0
1405403694 1405403694.0
933959197 933959197.0
873260194 873260193.0
391081192 391070003.0
586090727 586090168.0
1065659812 1065659812.0
89289910 89289910.0
662845518 662845518.0
419651413 419651413.0
1519557910 1519557910.0
1045713802 1045713802.0
624026776 624026776.0
956019788 956019788.0
752215857 752215856.0
310669540 310669540.0
958400000 958385376.0
372234864 372234864.0
550000000 550000000.0
1845034188 1845034188.0
1153304495 1153304495.0
303025485 303025449.0
1513528810 1513528810.0
1108561013 1108561013.0
783766341 783766340.0
1215439994 1215439993.0
1025491110 1025491110.0
459359555 459359555.0
743559607 743559607.0
836297228 836297228.0
1091405097 1091405097.0
491868548 491868547.0
705717432 705717432.0
400062763 400062763.0
559852396 559835294.0
219851172 219851172.0
1066969703 1066969703.0
371353001 371353001.0
1506249360 1506249360.0
531865000 531735213.0
747862775 747862775.0
467365246 467365246.0
197687603 197675549.0
351040419 351040419.0
335154643 418912616.0
407602906 407602906.0
1123746996 1123746996.0
786636033 786636033.0
331926147 331926147.0
538983207 538983207.0
343471816 343471816.0
521311860 513166362.0
258022233 258022233.0
769653595 769653595.0
325233863 325233242.0
183987723 183987723.0
356743061 356743061.0
748806957 748806957.0
543934787 543934787.0
1004558444 1004558444.0
735099082 735099082.0
381509870 381506960.0
585174222 585165293.0
185770160 185770160.0
222104681 222104681.0
401128639 401128639.0
745000000 744999999.0
173000000 173000000.0
370541256 370541256.0
264218220 264218220.0
302469017 302469017.0
857611174 857611174.0
966550600 966550596.0
623933331 623933331.0
396600000 396599999.0
758539785 758539784.0
710644566 710643888.0
0 0.0
150962475 150962475.0
714766572 714766572.0
752600867 752600867.0
209154322 209154322.0
652105443 652105443.0
471222889 471222888.0
305875730 305875730.0
389681935 389681935.0
494878759 494878759.0
435000000 434907068.0
773328629 773328628.0
675120017 675120017.0
825532764 825532764.0
77000000 77000000.0
1021103568 1021103568.0
207283925 207283925.0
333932083 333932083.0
353624124 353624124.0
653428261 653428261.0
215283742 215283742.0
181674817 181674817.0
299370084 299370083.0
798958165 798958165.0
433677183 433465427.0
440603537 440603537.0
415686217 415686217.0
449220945 449220944.0
709709780 709536511.0
167298192 167298192.0
938212738 938212737.0
895921036 895921036.0
624029371 624029371.0
585349010 585349010.0
474968763 474968763.0
623722818 623722818.0
374218673 374218672.0
603900354 603900354.0
413106170 413106170.0
373062864 373062863.0
424988211 423328151.0
1274219009 1274201948.0
738599701 738599700.0
644571402 644571402.0
378858340 378858339.0
356613439 356613439.0
449326618 449326618.0
309979994 309979994.0
292817841 292817841.0
301000000 301000000.0
245527149 245527149.0
682330139 682330139.0
0 0.0
287594577 287594577.0
665692281 665692281.0
318502923 318502695.0
397850012 397850012.0
205366737 205366737.0
38992758 38992758.0
64459316 64459316.0
128388320 128388320.0
272912430 272912430.0
497409852 497379729.0
746921274 746921274.0
431971116 431971116.0
229147509 229147508.0
553799566 553799566.0
441818803 441818698.0
195735876 195735876.0
521170825 521170825.0
694713380 694713380.0
306941670 306925277.0
202026112 202026112.0
456758981 456758981.0
268031828 268031325.0
385680446 385680446.0
821708551 821708551.0
609123048 609123048.0
150680864 150680864.0
76932943 76932943.0
185258983 173680297.0
285444603 285444603.0
245360480 230027088.0
371876278 371876278.0
119269486 111815939.0
85131830 84881932.0
370569774 370569774.0
361832400 361832400.0
212011111 212011111.0
829000000 828999999.0
150406466 150406460.0
163712074 163712073.0
183345589 183345589.0
532950503 532950503.0
282570682 282570682.0
245724603 245724603.0
373552094 373552094.0
442824138 442824138.0
631744560 631744560.0
519311965 519311964.0
847423452 847423452.0
368871007 368871007.0
591739379 591739379.0
273339556 273339360.0
554987477 554987477.0
293329073 293329073.0
362637473 362637473.0
371940071 371940071.0
789804554 789804554.0
49554002 49554002.0
243843127 243843127.0
354248063 354248063.0
349424282 349424243.0
321887208 321887208.0
976475550 976475550.0
61648500 61648500.0
655011224 655011224.0
752100229 752100228.0
767820459 767820459.0
500188435 500188435.0
407711549 407711160.0
626137675 626137675.0
334615000 334574158.0
232713139 232713139.0
261317921 261317921.0
61698899 61698899.0
276572938 276572938.0
238207122 238207122.0
345141403 345141403.0
544272402 544272402.0
546388105 546388105.0
325756637 325756637.0
289047763 289047763.0
609016565 609016565.0
228738393 228736866.0
415484914 415484913.0
259175788 259175788.0
403170142 403167069.0
169956806 169879001.0
286140700 250373119.0
115772733 115772733.0
242688965 242688965.0
93945766 93945766.0
48668907 48668907.0
261930431 261930431.0
286168572 286168572.0
850000000 849999999.0
649398328 649398328.0
562816256 562266631.0
415440673 415440673.0
924317558 924317558.0
585178928 585178928.0
132900000 132899874.0
77628265 77628265.0
164602163 164602163.0
477200000 477200000.0
716392705 716392705.0
178127760 178127760.0
245623848 245623848.0
167977596 167977596.0
574480841 574480841.0
470490832 470490832.0
333011068 333011067.0
215294342 215294342.0
362744280 362744280.0
478207520 478207520.0
295238201 295238201.0
102000000 102000000.0
237382724 237382724.0
227817248 227817248.0
337580051 337497473.0
563749323 563749323.0
103951461 103951461.0
179246868 179246868.0
299268508 299268508.0
347434178 347434178.0
164508066 164508066.0
125537191 125537191.0
383531464 383531464.0
871368364 871368364.0
72178895 72178895.0
87713825 87713824.0
0 0.0
347234916 347234916.0
211643158 211643158.0
300135367 300135367.0
267045765 267045765.0
630161890 630152274.0
162949164 162949164.0
10372291 10372291.0
237202299 237202299.0
457640427 457640413.0
358372926 358356553.0
876688482 876688481.0
599045960 599045959.0
362211740 362211740.0
520000000 520000000.0
214104620 214104620.0
266465037 266465036.0
378882411 378882411.0
150166126 150166126.0
310650585 310650585.0
170432927 170432927.0
242295562 242295562.0
425368238 425368238.0
100138851 100138851.0
169327687 113116913.0
312573423 312573423.0
347451894 347451894.0
249288105 249288105.0
100086793 99891691.0
268426634 268393871.0
278731369 278731369.0
211989043 211989043.0
170877916 170877916.0
392000694 392000694.0
336529144 504787297.0
121214377 121214377.0
130482868 130482868.0
140073390 140073390.0
82102379 82102379.0
243400000 243399770.0
109578115 109578115.0
68688831 68688831.0
206172544 206172544.0
133718711 133718711.0
0 0.0
93820758 93820758.0
7103973 7103973.0
94882889 94882888.0
246233113 107729805.0
13835130 13835130.0
433013274 433013274.0
193772504 193772504.0
95311434 95311434.0
149044513 149044513.0
102000000 102000000.0
172989651 172820716.0
104907746 104907746.0
263920180 263920179.0
288347692 288347692.0
76432727 76432727.0
877244782 877244779.0
543514353 543514352.0
93525586 93503109.0
940335536 940335480.0
1118888979 1118888979.0
926287400 926287400.0
114178613 114178610.0
274703340 274703291.0
103039258 103039258.0
368780809 368780809.0
482860185 482860185.0
162839667 162839667.0
304654182 304654182.0
25819961 25819961.0
631442092 631441490.0
10017322 10017322.0
226497209 226497208.0
589390539 589390539.0
497366869 497366869.0
167805466 167805466.0
347325802 344614928.0
155464351 155390810.0
242988466 242988466.0
886686817 592278983.0
188133322 188133322.0
264105545 264105545.0
289847354 289847353.0
304320254 304320254.0
188072649 188072648.0
232617430 232617430.0
366101666 366101666.0
524028679 524019683.0
94061311 94061311.0
186053725 186053725.0
233755553 40174952.0
200276000 200276000.0
201596308 201596283.0
243637091 243637091.0
235926552 235926552.0
182290266 181222163.0
171120329 171120328.0
190213455 190213455.0
162944923 162944923.0
174578751 174578751.0
156505388 136801300.0
334901337 334901336.0
118063304 118062403.0
143049560 143049560.0
60874615 60874615.0
484635760 456265249.0
93700000 93700000.0
0 0.0
140807547 140807547.0
35168966 35168966.0
79114085 79113632.0
108539911 108539911.0
16178959 16178959.0
148336445 148336445.0
494471524 494471524.0
429632142 429632142.0
384335608 384335608.0
288500217 288500217.0
315156409 315156409.0
450717150 450717150.0
132274484 132274484.0
358375603 358375603.0
340487652 340487652.0
208076205 208076205.0
183611771 183611771.0
152930623 152930623.0
194168700 194168700.0
250649836 250649836.0
219103655 219103655.0
311312624 311312624.0
197309027 197309027.0
288747895 288739152.0
96976270 96976270.0
80916492 80916492.0
137298489 137298489.0
162242962 162242962.0
158468292 158468291.0
0 0.0
142940100 142940100.0
78382433 78382433.0
37823676 37823676.0
183018522 183018522.0
47664559 47664559.0
74208267 74208267.0
123307945 123307945.0
275650703 275650703.0
41037742 41037742.0
237681299 237681299.0
21028755 21028755.0
112483764 112483764.0
222231186 222231186.0
160388063 160388063.0
84785914 84785914.0
96085477 96085477.0
484572835 482797410.0
274470394 274453675.0
457696359 457695923.0
691210692 691210692.0
254455986 254455986.0
280000000 280000000.0
343397247 343397247.0
145771527 145771527.0
144000000 144000000.0
140464664 140464664.0
0 0.0
190320568 190320568.0
342695435 342695435.0
246984278 246019496.0
230685453 230685453.0
266728738 266728738.0
294804195 294804195.0
163733697 163733697.0
260696994 260693140.0
245676146 245676146.0

212874442 212874441.0
181001478 181001478.0
214918407 214918407.0
224012234 224012234.0
178066569 178066569.0
173013509 173013509.0
157107755 157107755.0
177977226 177977226.0
91188905 91188905.0
250200000 250077832.0
0 0.0
233093859 233093859.0
136982834 136982834.0
211817906 211817906.0
164000000 163999999.0
201584141 200979683.0
122563539 122563539.0
169852759 169852759.0
136159423 136159423.0
96105964 96105964.0
0 0.0
473226958 473226958.0
90874570 90874570.0
123729176 123729176.0
0 0.0
147080413 147080413.0
142400065 142400065.0
71485043 71485043.0
0 0.0
105316267 105316267.0
101371017 101371017.0
0 0.0
43312294 42281049.0
122444772 122444772.0
34566746 34566746.0
159212469 159212469.0
126546518 126438358.0
21400000 21400000.0
68514844 68146844.0
53825515 53825515.0
19480739 19479699.0
17626234 17626234.0
69131860 69131860.0
146936910 146936910.0
33463969 33463969.0
107944236 107944230.0
19406406 19406406.0
5989640 5989640.0
117831631 117831631.0
0 0.0
313542341 470313512.0
788241776 788241776.0
355692760 266856494.0
248384621 248380831.0
209196298 209196298.0
108103450 108103450.0
149673788 149673788.0
236350661 236350661.0
97571250 97571250.0
15071514 15071514.0
35134820 35134820.0
875958308 875958308.0
179265204 179265204.0
970761885 970761885.0
816969268 816969267.0
229074524 229074524.0
532680671 532664447.0
69959751 69959749.0
296339527 296339527.0
258270008 258270008.0
335062621 335062621.0
660940780 658356459.0
196482882 196482881.0
90450008 90450008.0
78000586 78000586.0
0 0.0
117698894 117698894.0
271430189 271430189.0
219417255 219410160.0
73034460 73034460.0
215663859 215663859.0
119000410 118884652.0
367275019 367275019.0
154937680 154937680.0
95226116 95226115.0
130358911 130358911.0
85632458 85632458.0
98159963 98159963.0
108145109 108145109.0
55041367 55041367.0
140175006 140175006.0
67631903 67631903.0
127600435 127600435.0
0 0.0
226904017 226903153.0
77944725 77944725.0
36754634 36754634.0
51142659 51142659.0
14567883 14567883.0
5802422 5802422.0
5409517 5409516.0
21009180 21009180.0
248118121 248118121.0
1156730962 1156730962.0
89792502 89792502.0
103891409 103891409.0
13100000 13100000.0
349779543 349779543.0
111231041 111231041.0
61458982 61458982.0
86658558 86658558.0
162966177 162966177.0
176104344 174728529.0
210000000 209999999.0
96889998 108977651.0
527068851 527068851.0
37317558 37317558.0
54744738 54744738.0
62172050 54401256.0
256697520 256697520.0
294456605 294456605.0
408247917 408247917.0
919838758 919838758.0
461983149 461983149.0
309457509 309448655.0
277448382 277448382.0
311594032 306725375.0
309492681 309492681.0
319131050 319131049.0
300854823 300854823.0
240031094 240031094.0
116643346 116643346.0
203388341 203388341.0
42285169 42285169.0
171183863 171183863.0
443140005 443140005.0
114660784 114576804.0
161025640 161025640.0
118000000 118000000.0
202466756 202466752.0
122919055 122919055.0
0 0.0
177584879 174712544.0
154984035 154984035.0
90000098 90000098.0
134748021 134748021.0
215529201 215529201.0
116672912 116672912.0
135560026 135560026.0
131457682 131457682.0
67112664 54529039.0
65977295 65977295.0
55987321 55987321.0
33561137 33068557.0
160112671 160112671.0
59418613 59418612.0
32287044 32287044.0
57777106 57777106.0
0 0.0
19924033 19924033.0
19870567 19870567.0
13596911 13596911.0
18662027 18662027.0
17752940 17752923.0
57958696 57958696.0
38629478 38629478.0
122915111 122915111.0
61279452 61279452.0
193000000 193000000.0
698491347 698491347.0
71069884 70792269.0
543513985 543513985.0
35431113 35431113.0
217022588 217022588.0
39041505 39041504.0
29762011 29762011.0
83160734 83160734.0
60289912 60289912.0
52099090 52099090.0
113280098 113280098.0
86387857 83632948.0
112265139 112265139.0
212404396 212404396.0
189198313 189198313.0
25303038 25303038.0
481840909 481840909.0
203277636 203252822.0
374111707 374111350.0
383257136 257501688.0
75715436 75706771.0
275293450 275293449.0
463517383 463517383.0
355237933 355237933.0
172855065 172190319.0
441809770 441809558.0
250821495 250808100.0
128107642 128107642.0
250288523 250288515.0
211780824 211780824.0
163442937 163442935.0
128884132 128884132.0
255000211 255000211.0
150270147 150270147.0
69700000 69699999.0
162945894 162945894.0
0 0.0
179379533 179379533.0
162091208 162091208.0
133821816 133821816.0
153962963 76981481.0
156974557 156974557.0
128905366 128905366.0
38376497 38376497.0
0 0.0
240159255 240159255.0
73762516 73762516.0
89456761 89456761.0
0 0.0
64321501 64321501.0
100853753 100853752.0
43545364 43545364.0
17218080 17218080.0
0 0.0
71154592 71154592.0
42093706 41929277.0
56681566 56681566.0
39407616 39407616.0
74608570 74608570.0
203427584 203427584.0
132180323 132180323.0
296655431 296655431.0
44091067 44091067.0
920100000 920100000.0
25052000 25052000.0
215887717 215887717.0
121545703 121545703.0
101595121 101595121.0
127666415 127666415.0
107879496 107879496.0
41819064 41819064.0
18720175 18720175.0
155760117 155759820.0
0 0.0
183953723 183953723.0
422610419 422610419.0
516642939 516642447.0
244082376 244082376.0
284600000 284600000.0
253625427 253625427.0
314432665 314432665.0
369330363 369330363.0
214034224 214034224.0
352194034 352194034.0
149705852 149705852.0
264118201 264118201.0
218613188 218613110.0
164433867 164433867.0
131940411 131940411.0
93375151 90628823.0
176070171 176070171.0
93354918 93354918.0
171757863 171757863.0
171844840 171844840.0
157920733 155471901.0
129181830 129181830.0
311256926 311256926.0
204594016 204544261.0
0 0.0
71664962 71664962.0
100230832 100230832.0
186883563 186883563.0
217764291 217764291.0
165333180 165333180.0
74541707 74541707.0
218340595 218340595.0
73648228 73648228.0
0 0.0
137551594 137551594.0
0 0.0
124596398 124596398.0
163403799 163401325.0
130293714 130245987.0
61112916 61112916.0
170268750 170268750.0
129832389 128818134.0
99318987 99318987.0
56702901 56702901.0
107139399 107139399.0
159330280 159330280.0
96269812 96269812.0
0 0.0
50877145 50877145.0
0 0.0
104324083 104324083.0
50549107 50549107.0
101134059 101134059.0
205754447 205754446.0
162000000 162000000.0
95696996 83735419.0
108255770 104846643.0
46683377 46683377.0
469160692 469160692.0
0 0.0
43061982 42894423.0
105200903 105200903.0
62357900 62357900.0
122233971 122233971.0
87784194 87784194.0
60000000 60000000.0
36850101 36850101.0
77920346 77920346.0
104945765 104945765.0
67312826 67312826.0
119940815 119940815.0
0 0.0
74901339 74901339.0
33956608 33956608.0
55003135 55003135.0
73174566 73174566.0
0 0.0
31720158 31720158.0
39459427 39459427.0
47383689 47383689.0
141702264 141702264.0
71073932 71073932.0
78309131 78309131.0
26288320 26288320.0
26673242 26673242.0
52322400 52322400.0
49111202 49111202.0
17800000 17800000.0
27642707 27642707.0
14828081 14828081.0
30800231 30800231.0
90565421 90564741.0
50650079 50650079.0
25473093 25473093.0
0 0.0
57490374 57490374.0
39031337 39031337.0
30418560 30418560.0
0 0.0
0 0.0
193677158 193677158.0
10166502 10166502.0
783112979 783112979.0
0 0.0
542307423 542307423.0
158162788 78926937.0
102854431 102854431.0
59468275 59468275.0
189015611 165389741.0
41299492 41299492.0
0 0.0
85280250 85280250.0
44000000 44000000.0
300228084 299795156.0
50365377 50365377.0
152944660 152944660.0
58058367 58058367.0
115267375 115267375.0
61347797 61347797.0
149217355 149217355.0
62112895 62112895.0
113006880 113006879.0
57223890 57168007.0
677945399 677945399.0
361366633 361366633.0
330444045 330444045.0
346079773 346079773.0
300218018 300218017.0
128769345 128769345.0
368100420 368100420.0
0 0.0
231449203 231449203.0
95000000 95000000.0
152263880 152263880.0
287928194 287928194.0
192330738 192330732.0
154906693 154906693.0
157387195 157387195.0
307077295 307077295.0
223387299 223387299.0
214015089 214015089.0
198685114 198685114.0
180949000 180948978.0
0 0.0
152159461 152159457.0
63408614 63408614.0
149022650 149022650.0
56932305 56932305.0
121969216 121969216.0
187361754 187361754.0
127906624 127906624.0
110000000 110000000.0
159773545 159773545.0
141047179 141047179.0
41610884 41610884.0
75000000 75000000.0
259207227 259207227.0
68267862 68267667.0
34234008 34234008.0
0 0.0
33828318 33828318.0
33472850 33472850.0
118338361 116962250.0
113020255 113020255.0
60209334 60209334.0
18626419 18626419.0
154648887 154648887.0
74237563 74237563.0
52304001 52304001.0
12923936 12923936.0
11466088 11466088.0
0 0.0
80383290 80383289.0
28283637 28283637.0
89519773 89519773.0
0 0.0
9250000 9250000.0
6416302 6416302.0
155010032 155010032.0
168167691 168167691.0
9489829 9488680.0

136766062 136766062.0
52034889 52034889.0
130431368 130431368.0
190458706 190458706.0
7266209 7266209.0
9450897 9450897.0
107196498 107196498.0
139804348 139804348.0
179213434 179213433.0
54249294 54249294.0
98837872 98837866.0
65900249 65900249.0
126690726 126690726.0
25037897 12518948.0
0 0.0
5761917 5761917.0
352114312 352114311.0
132820716 132820716.0
204999686 204999686.0
609841637 609841637.0
216485654 216485654.0
110803676 110803676.0
98126565 98126565.0
75450437 75155780.0
47434430 47434430.0
116112375 116105288.0
52826594 52826594.0
0 0.0
149270999 149270999.0
72779000 72770151.0
47231070 47231070.0
709827462 709827462.0
484409218 484409218.0
127869379 127869379.0
390493908 390464116.0
273552592 273552592.0
549368315 549368315.0
314178011 314178011.0
202292902 202292902.0
173649015 173649015.0
171269535 171269535.0
260095987 260095987.0
256271286 256271286.0
177371441 177371441.0
188441614 188441614.0
223664608 223664608.0
225990978 225990978.0
216972543 216932814.0
0 0.0
242786137 242786137.0
212902372 212902372.0
184376254 184376254.0
161626121 161626121.0
152022101 152020415.0
120081841 120081841.0
155446362 155446362.0
88715192 88715192.0
161451538 161451538.0
142851197 142694255.0
200804534 200804534.0
0 0.0
110206216 110206215.0
189859560 189859560.0
222809600 222809600.0
106303988 106303988.0
132511035 132511035.0
88323487 88323487.0
69834815 69834815.0
66002004 66002004.0
100020092 100020092.0
224803475 224803475.0
119137784 119137784.0
144492830 144492830.0
94000000 94000000.0
69411370 69411370.0
97437106 97413306.0
82800000 82800000.0
50068310 50068310.0
48169156 48169156.0
109423648 109423648.0
97607453 97607453.0
0 0.0
234989584 234989584.0
44547681 44547681.0
160602194 160602193.0
119208989 119208989.0
41482207 41482207.0
83719388 83719388.0
0 0.0
129394835 129394835.0
40203020 40203020.0
55495563 55495563.0
49000000 49000000.0
69425966 69425966.0
144056873 144056873.0
49718611 49718611.0
60462347 60460502.0
0 0.0
113309743 113303043.0
83761844 83761844.0
105197635 105197635.0
56714147 56714147.0
30303072 30303072.0
82169884 82169884.0
58900031 58440096.0
63327201 63327201.0
42792561 42792561.0
26199517 26199517.0
60161391 60161391.0
42277365 42277365.0
23159305 23159305.0
34808403 34808403.0
25035950 12517975.0
38955598 38955598.0
0 0.0
71561644 71561644.0
55112356 55112356.0
44434439 44434439.0
66976317 66975295.0
26121638 26121638.0
38502340 38500008.0
10541523 10541523.0
16671505 16671505.0
10382407 10382407.0
24188922 24188922.0
22944502 22944502.0
9851610 9851610.0
40828540 40828540.0
60052138 60052138.0
0 0.0
55969000 55968999.0
6808550 6808550.0
0 0.0
28931401 28931401.0
12764201 12764201.0
72700000 72691194.0
20423389 20423388.0
36348784 36348784.0
207515725 207515725.0
474171806 474171802.0
68929150 68929150.0
104399548 104399548.0
151493655 151493113.0
196397415 196397415.0
108000000 108000000.0
3324330 3324330.0
85498534 85498534.0
50315140 50315140.0
0 0.0
90383208 90383208.0
25928721 25928721.0
70016220 70016220.0
325771424 325771423.0
77745568 77745568.0
102825796 102825796.0
528972 528972.0
103738726 103738432.0
124305181 124305181.0
35743308 35743308.0
125212904 125212904.0
0 0.0
38085778 27498725.0
12379402 12379402.0
299288605 299288605.0
0 0.0
113714830 113714830.0
150000000 150000000.0
10539000 10539000.0
100860818 100860818.0
181000000 181000000.0
15436808 15436808.0
5200000 5200000.0
341631208 341594717.0
376141306 376141306.0
220673217 220673217.0
212000000 212000000.0
101702060 101702060.0
95149435 95149435.0
195268056 195268056.0
117615211 117615211.0
175372502 175372502.0
178051587 178050146.0
154749918 154749918.0
122126687 122126687.0
104876233 104876233.0
90683916 90683916.0
141220678 141220678.0
165184237 165184237.0
131183530 131183530.0
76669806 76669806.0
94935764 94935764.0
136885767 136885767.0
113916474 113916474.0
244931766 244931766.0
363258859 363258859.0
74558115 74558115.0
170362582 170362582.0
53854588 52177797.0
0 0.0
56070433 56070433.0
104478416 104477669.0
0 0.0
148412065 147257054.0
123494610 123253410.0
38399961 38399961.0
0 0.0
0 0.0
82966152 82966152.0
56422687 56422687.0
160583018 160583018.0
55181129 55179471.0
30925690 30925690.0
0 0.0
75225693 75225693.0
65664721 65664721.0
72108608 72108608.0
0 0.0
0 0.0
57881056 57881056.0
29400000 29400000.0
38058335 36869020.0
17300889 17300889.0
0 0.0
13681765 13681765.0
60222298 60222298.0
11203026 11203026.0
9323833 9323833.0
0 0.0
42487390 42487390.0
8493890 8493890.0
4607608 4031271.0
2154540 2154540.0
160078586 160078586.0
73706 73669.0
232324128 232322355.0
368875760 368875760.0
136000000 136000000.0
165615285 165615285.0
300400432 300400432.0
0 0.0
84300000 84300000.0
3484331 3484331.0
111340801 111340801.0
34227298 34227298.0
80049764 80049764.0
0 0.0
50871113 50871113.0
68696770 68696770.0
270248367 270248367.0
48190704 48190704.0
51070807 51070807.0
201585328 201191798.0
363889678 363889678.0
224834564 224834564.0
171963386 171963386.0
70100000 70035814.0
158674180 158674180.0
71000000 70999897.0
73100172 73100172.0
63781810 63781810.0
0 0.0
55157539 55157539.0
0 0.0
156167015 156167015.0
89162162 89162162.0
56359980 56359980.0
20915465 20915465.0
24127895 24127895.0
177394432 177394432.0
36893721 36893721.0
12342632 12342632.0
11087569 11087569.0
14000000 14000000.0
215000000 215000000.0
0 0.0
117487473 117487473.0
0 0.0
672806292 672806292.0
46221189 46221188.0
7448385 7448385.0
90815558 90815558.0
251171807 251171807.0
317375031 317375031.0
177841558 177841558.0
332000000 332000000.0
126546825 126546824.0
571006128 571006128.0
197011982 197011982.0
152266007 152266007.0
190212113 190212113.0
149295601 149295601.0
107458785 107458785.0
320170008 320170008.0
224920315 224920315.0
177259441 177259441.0
178262620 178262620.0
161834276 161834276.0
244527583 244527583.0
111811453 111811453.0
215862692 215862686.0
129540499 129540499.0
95020213 95020213.0
128798265 128798264.0
169837010 169837009.0
120455994 120455994.0
194564672 194552800.0
124827316 124690175.0
75505856 75505856.0
124731534 123757073.0
158733820 158733820.0
151161491 151161491.0
91636986 91636986.0
141069860 141069860.0
205405498 205405399.0
138259062 138259062.0
147845033 147705156.0
136267476 119233001.0
196781193 196781193.0
186167139 186167139.0
165478348 165478348.0
91753202 91753202.0
90029656 90029656.0
170128460 170128460.0
54682547 54682547.0
87840042 87840042.0
75395048 75395048.0
85412898 85412898.0
130786397 130786397.0
109676311 109676311.0
107670357 107670357.0
74597643 74452228.0
120175290 120175290.0
191185897 191185897.0
126248813 118371750.0
0 0.0
92913171 79850713.0
114830111 114830111.0
91974818 91974818.0
51854875 51448973.0
84601681 84601681.0
67347013 67347012.0
45916769 45916769.0
141591324 141591324.0
74000000 74000000.0
0 0.0
41797066 41797066.0
0 0.0
0 0.0
145896422 145896422.0
97552050 97552050.0
41863726 41863726.0
97138686 97138686.0
96618699 96618699.0
34416893 34416893.0
126069509 126069509.0
36037909 36037909.0
157887643 157887643.0
0 0.0
55707411 55707411.0
50451307 50451307.0
0 0.0
0 0.0
48063435 48063435.0
55247881 55247881.0
58785180 62458413.0
46442528 46442528.0
30199105 30199105.0
31670620 31670620.0
0 0.0
29000000 29000000.0
49627779 49627779.0
27053815 27053815.0
0 0.0
65754228 65754228.0
62771059 62771059.0
3000000 3000000.0
24332324 24332324.0
60965854 60965854.0
38172500 35788757.0
22433915 22433915.0
0 0.0
46546197 46546197.0
0 0.0
20350754 20350754.0
60474340 60474333.0
0 0.0
19412993 19412993.0
180274123 180274123.0
14375181 14375181.0
46471023 46471023.0
16872671 16872671.0
14358033 14358033.0
173921954 173921953.0
0 0.0
13395939 13381299.0
24719215 24719215.0
28121100 28121100.0
18902015 18899717.0
28169671 28107776.0
19322135 19319776.0
0 0.0
0 0.0
10667893 10667893.0
20645327 20645327.0
0 0.0
10959475 10959475.0
0 0.0
32017803 32017803.0
22044277 22044235.0
0 0.0
13644292 13644292.0
23937870 23937870.0
117760134 117760134.0
7563728 7563728.0
0 0.0
0 0.0
0 0.0
0 0.0
86758912 86758912.0
0 0.0
0 0.0
94000000 94000000.0
100000000 100000000.0
101229792 98065589.0
69485490 69483899.0
35287788 35287788.0
38869464 38869464.0
6614280 6614280.0
75850624 75850624.0
44907260 44907260.0
127814609 127814609.0
180622424 180622424.0
205298907 205298907.0
0 0.0
119723358 119723358.0
120000000 120000000.0
64076736 60934964.0
114156230 114156230.0
0 0.0
73956241 73956240.0
51801187 51801187.0
0 0.0
107597242 107597242.0
29700000 29700000.0
0 0.0
58401898 58401898.0
17380126 17380126.0
16991902 16983735.0
47536959 47536959.0
10300000 10300000.0
19629760 19629760.0
98337295 98337295.0
6482195 6457659.0
0 0.0
17869048 17868507.0
28258060 28258060.0
5410749 4058392.0
9793496 9793496.0
109906372 109906372.0
173567581 173567580.0
154026136 154026136.0
79700000 79700000.0
163720069 163720068.0
100076342 100076342.0
90247624 90247624.0
48451803 48451803.0
55583804 55583804.0
112343513 112178987.0
95404397 95404397.0
392616625 392616625.0
102244770 102196404.0
117758500 117758500.0
269994119 269962190.0
21834845 20299786.0
50159144 50159144.0
160000000 160000000.0
64572262 64572262.0
52424533 52219749.0
32168970 32168970.0
44350926 44350926.0
26250020 26250020.0
0 0.0
0 0.0
96047633 96035905.0
12532777 9400348.0
3003296 3003296.0
63800345 63800345.0
0 0.0
459270619 459270619.0

156844753 156692779.0
310940086 310940086.0
411348924 411348924.0
321731527 321731527.0
309208309 309208309.0
147934180 147934180.0
117000000 116999833.0
252276927 252276927.0
326551094 326551094.0
139000000 139000000.0
173965010 173965009.0
182300000 182300000.0
69823199 69823199.0
140795793 140795793.0
68915888 68915888.0
231976425 231976422.0
126216940 126216940.0
86369815 86369815.0
0 0.0
113374103 113374103.0
25504513 25504513.0
104155843 104155843.0
0 0.0
60251371 60251371.0
95608995 95598783.0
52277485 52277485.0
150483765 150483765.0
108758521 108758521.0
112544580 112517318.0
48169908 48166967.0
88058786 88058786.0
92219310 92219310.0
91353501 91348012.0
69307224 69307224.0
0 0.0
58405313 58405313.0
41954997 41954997.0
102984862 102984862.0
122200000 122200000.0
0 0.0
85416905 85416905.0
173930596 173792591.0
77477008 77477008.0
59901913 59901913.0
0 0.0
35323292 30907982.0
99423521 99423521.0
120072577 120072576.0
0 0.0
68766121 68766121.0
115505027 115505027.0
84606030 79318224.0
72436439 72436439.0
45479110 45479110.0
57120318 57120318.0
32483410 32483410.0
40263020 40263020.0
27107960 27107572.0
36098382 36098382.0
30353232 30353232.0
25105255 25105255.0
4100000 4100000.0
93246388 93246388.0
0 0.0
68369434 68369434.0
27388767 27388767.0
50363790 50363790.0
82087155 82087155.0
19478106 19478106.0
0 0.0
25871834 25871834.0
19701164 19701164.0
19294901 19294901.0
31083599 31083599.0
51680201 51680200.0
29882645 29882645.0
46216641 46216641.0
41512007 41512007.0
39340177 39340177.0
0 0.0
16519460 16519460.0
63215872 63215872.0
0 0.0
18317151 18317151.0
0 0.0
13678913 13678913.0
27409889 27409889.0
12206028 12110715.0
54674226 54460758.0
0 0.0
17508518 17508518.0
11560806 11560806.0
10089373 10089373.0
12506188 12506188.0
61181942 61181942.0
0 0.0
42064105 42064104.0
4651977 4651963.0
0 0.0
0 0.0
16838910 16838910.0
0 0.0
15000000 15000000.0
635096 635096.0
25147786 25147786.0
10496317 10496317.0
0 0.0
348319861 348319861.0
14431253 14431253.0
32255440 32255440.0
15304890 15304890.0
11263966 10839638.0
2106557 2106557.0
187479518 187479518.0
63013281 31506640.0
19598588 19598588.0
0 0.0
0 0.0
27330000 27330000.0
40382659 40382659.0
243240178 243240178.0
79958599 79958599.0
173959438 173959438.0
0 0.0
64626786 64626786.0
140470746 140470746.0
62022014 62021127.0
0 0.0
54700105 54700105.0
27610873 27610873.0
40346186 40346186.0
0 0.0
572700000 572630090.0
22211426 22211425.0
113019290 113019290.0
24159934 24159934.0
173398518 173398518.0
152036382 152036382.0
0 0.0
60328000 60328000.0
80197993 80197993.0
288383523 288383523.0
126041322 126041322.0
50041732 50041732.0
48814909 48063727.0
69055695 69055695.0
21819348 21819348.0
83615414 83615414.0
147332697 147332697.0
36733909 36733909.0
77566815 76050940.0
9494789 9494789.0
31755742 31755742.0
0 0.0
60740827 60740827.0
85167639 85167639.0
18552460 18552460.0
30016165 30016165.0
0 0.0
18409891 18409891.0
53587404 53587404.0
0 0.0
27437881 27437881.0
3566637 3566637.0
0 0.0
5914908 5914908.0
0 0.0
89460381 89460381.0
42045846 42045846.0
106269971 106269971.0
14708696 14708696.0
128499205 128499205.0
161772375 80886188.0
210308099 210293031.0
174600318 174600318.0
24185781 24185781.0
53208180 53208180.0
68106245 68106245.0
104384188 104384188.0
115101622 115101622.0
306776732 306776732.0
234801895 234787676.0
287553595 287553595.0
373554033 373554033.0
350448145 350448144.0
196114570 195165899.0
15134293 15134293.0
136706683 136689995.0
199200000 199200000.0
115922175 115922175.0
167722310 167722310.0
191502426 191502426.0
212385533 212385533.0
165335153 165325061.0
116400000 116400000.0
327311859 327311859.0
210819611 210819611.0
140161792 140161792.0
156822020 156822020.0
216763646 216763646.0
176885658 176885658.0
115603229 115603229.0
160259319 160259319.0
155545279 155545279.0
103 103.0
74787599 74787599.0
160638883 160638883.0
163670000 161115075.0
105834556 105834556.0
116980662 116980662.0
47042000 47042000.0
0 0.0
254134910 254134910.0
114281051 114281051.0
105173115 104967700.0
92374674 92374674.0
63833449 63833449.0
0 0.0
114663461 114663461.0
69631118 69631118.0
96455697 96455697.0
151119219 151119219.0
0 0.0
83282296 83282296.0
118880016 118880016.0
70200000 70200000.0
0 0.0
51132598 51132598.0
152427960 152427960.0
192452832 192452832.0
156835339 156835339.0
93772522 93772522.0
129266061 129266061.0
0 0.0
45892212 40155685.0
54819301 54819301.0
117195061 117195061.0
42647449 42314285.0
84025816 84025816.0
91709827 91709827.0
90810892 90810892.0
65663276 65663276.0
0 0.0
159291809 159291806.0
51842679 51842679.0
53653224 53653224.0
75505973 75505973.0
66486080 66484051.0
84646831 84646831.0
38413606 38413606.0
38122105 38122105.0
38748395 38748395.0
63782078 63782078.0
51376861 51376861.0
36160375 36160375.0
82394288 78532048.0
34742066 34742066.0
41480851 41471040.0
0 0.0
48428063 48428063.0
63372757 63372757.0
0 0.0
14460000 12657800.0
39267515 39267515.0
29202884 29202884.0
31911598 31662281.0
0 0.0
24048000 24048000.0
60896147 60896147.0
0 0.0
108609310 101827029.0
22034832 22034832.0
53909751 53909751.0
21800302 21800302.0
51148651 51148651.0
31070211 31070211.0
35294470 35294186.0
19204929 19204929.0
17193231 17193231.0
0 0.0
102820008 94862499.0
16930884 16930884.0
25224242 25224242.0
26155781 26155781.0
0 0.0
37962774 37962774.0
31148328 31148328.0
15007991 15007991.0
15368897 15368840.0
13001257 13001257.0
24922237 24922237.0
30536013 30536013.0
0 0.0
0 0.0
0 0.0
0 0.0
30114487 30114487.0
12 12.0
13521829 13521829.0
18618284 18618284.0
64352607 64352607.0
8454301 8454301.0
62616646 62616646.0
18195610 18195610.0
26828365 26802267.0
0 0.0
18074539 18074539.0
0 0.0
0 0.0
3102550 3054256.0
35078241 35061114.0
480314 480314.0
14711793 14711793.0
108348 94804.0
0 0.0
0 0.0
2527904 2527904.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
140752617 140752617.0
287506194 287506193.0
186438883 186438883.0
37036004 37036004.0
0 0.0
0 0.0
33013805 33013805.0
16930185 16930185.0
78636257 39318128.0
0 0.0
0 0.0
24829644 24829644.0
21126225 21126208.0
504050219 504050219.0
201634991 201634991.0
333000000 332999999.0
100491683 100491683.0
105178561 105178561.0
48902953 48902953.0
98185582 98185582.0
140767956 140767956.0
92380927 92380751.0
133346506 133346505.0
0 0.0
64445708 64445708.0
102356381 102356381.0
94728529 94728529.0
17137302 17137302.0
71441250 71441250.0
90259536 90171403.0
134402450 134402450.0
195312802 195312801.0
77516304 77516304.0
101646581 101646581.0
60780981 60780516.0
97594140 97594140.0
39514713 39514713.0
92601050 92601050.0
96188903 96188903.0
40547440 40547440.0
33000337 31843049.0
100654149 100654149.0
121147947 121147947.0
33139618 33139618.0
31596911 31596911.0
52597999 52597999.0
54926886 54926886.0
0 0.0
20217080 20217080.0
38159905 38159905.0
8888143 8887058.0
45236543 45192711.0
8345056 8345056.0
14010832 14010832.0
7002261 6783641.0
16374328 16374328.0
5684789 5684789.0
17286299 17286299.0
60700000 60700000.0
23321954 23321954.0
68896829 68896829.0
187500000 187500000.0
219076518 219076518.0
95714875 95714875.0
43650785 43650785.0
27187653 27187653.0
49469904 49469904.0
24748670 24748670.0
96900000 96900000.0
0 0.0
60527873 60527873.0
115229890 115229889.0
0 0.0
129000000 129000000.0
56870414 56870414.0
56308881 56308881.0
21500000 21500000.0
15395087 15387570.0
20158808 20002392.0
27200316 27200316.0
0 0.0
11137801 11137801.0
76000000 76000000.0
29000000 29000000.0
13000000 13000000.0
0 0.0
85564310 85564310.0
93282604 93282604.0
14 14.0
4488529 4488529.0
21148829 21148829.0
6673422 6673422.0
0 0.0
0 0.0
183293131 183293131.0
110230332 110230332.0
109449237 109449236.0
289317794 289317794.0
53181600 53181600.0
201957688 201957687.0
101624843 95273290.0
65705772 65577441.0
68296293 68030544.0
61489265 61489265.0
50750000 50750000.0
57891803 57891803.0
90426405 90426405.0
71868327 71868327.0
67918658 67886530.0
86175291 86175250.0
0 0.0
38793283 38793283.0
0 0.0
43318349 43318349.0
28818995 28818995.0
142044638 142044604.0
35402320 35402320.0
29657751 29657751.0
14000000 14000000.0
36800000 36583530.0
0 0.0
0 0.0
0 0.0
0 0.0
20080020 20080020.0
30523226 28615524.0
82466670 82466670.0
611899420 611899420.0
441286195 441286195.0
412800000 412799988.0
269958228 269956168.0
29506464 29506464.0
226830568 226829703.0
35926213 35907575.0
411006740 411006740.0
321365567 321365413.0
124272124 124272124.0
8555008 8555008.0
181466833 181311733.0
0 0.0
114908830 114908830.0
0 0.0
80936232 80936232.0
170764026 170764025.0
78000000 77980957.0
76270454 76270454.0
171600000 171600000.0
153997819 153997819.0
281929795 281925510.0
152500343 152500343.0
124914842 124792855.0
119772232 119772232.0
147780440 147780440.0
56505065 56505065.0
91036760 90682526.0
60922980 60922980.0
117719158 117690643.0
99357138 99357138.0
137587063 137587063.0
116766556 116766556.0
0 0.0
77278331 77278331.0
122644820 122644820.0
90574188 90574188.0
46836394 46836393.0
58795814 57877143.0
122489822 122489822.0
65884703 65884703.0
0 0.0
43984230 43973489.0
63100000 63100000.0
0 0.0
77208711 77208711.0
0 0.0
0 0.0
41604473 41604473.0
39053061 39053061.0
64437847 64437847.0
70442940 70442940.0

36351350 36351350.0
38307627 38307627.0
66980456 66980456.0
0 0.0
63102666 63102666.0
59192128 59192128.0
56489558 56489558.0
41597830 41595331.0
33889159 33889159.0
229736344 229736344.0
70992898 70992898.0
2415472 2414311.0
66122026 66122025.0
82150642 82150642.0
50671850 50671850.0
29548291 29432868.0
100000000 100000000.0
34942188 34942188.0
0 0.0
28341469 28341469.0
39438674 39429083.0
25023434 25023434.0
39171130 39171130.0
74188937 74188937.0
27645491 27645491.0
42886719 42886719.0
46152800 46152800.0
21567853 21567853.0
22200000 22200000.0
114977104 114977104.0
23580000 23580000.0
36993168 36993168.0
40452643 40452643.0
17000000 17000000.0
20796847 20796844.0
0 0.0
0 0.0
0 0.0
15431177 15431177.0
33333531 33329716.0
0 0.0
24362772 24362772.0
19829957 19829957.0
30411183 30411183.0
51702483 38574899.0
0 0.0
42972994 42972994.0
14334401 14334381.0
10126458 10126458.0
13 13.0
28831145 28831145.0
0 0.0
15478800 15478800.0
13411957 13411957.0
24902723 24902676.0
11000000 11000000.0
0 0.0
23057115 23057115.0
16900000 16900000.0
25000000 25000000.0
11207130 11207129.0
10719357 10719357.0
13000000 13000000.0
85446075 85427821.0
10070000 10070000.0
10324441 10324441.0
11772461 11772461.0
0 0.0
27635305 27635305.0
5778353 5778353.0
0 0.0
0 0.0
0 0.0
4064495 4064495.0
19844979 19844979.0
2405420 2405420.0
27603069 27603069.0
0 0.0
34153101 34153101.0
777423 777423.0
2336172 2336172.0
19255873 19254845.0
10589102 3960571.0
0 0.0
48531470 48531470.0
0 0.0
0 0.0
6500000 6096530.0
71009334 71009334.0
0 0.0
3052000 3052000.0
0 0.0
0 0.0
34670720 34670720.0
8784318 8784318.0
133000000 133000000.0
155721132 155721132.0
172363301 172363300.0
1397284 1397284.0
70181428 70181428.0
106371651 106371651.0
80035402 80035402.0
87055349 87055349.0
41895491 41895491.0
40002112 40002112.0
36609995 36606085.0
42105111 42105111.0
0 0.0
68729358 68729358.0
0 0.0
0 0.0
16980098 16980098.0
16290976 16290976.0
21049053 21049053.0
12372410 12372410.0
8434146 8434146.0
30551495 29597635.0
83188165 83188165.0
0 0.0
4562146 2854690.0
669276 669276.0
23081726 20196518.0
234710455 234027532.0
102391382 89593045.0
185991646 185991646.0
538400000 538219262.0
141407024 141407024.0
86930411 86927924.0
53302314 53302314.0
75993061 75993060.0
53187659 53187659.0
0 0.0
47351251 47351251.0
36642838 36642838.0
6399 6399.0
18653615 18653615.0
0 0.0
33372606 33372606.0
51881013 51881013.0
0 0.0
0 0.0
10827816 10827816.0
7434726 7434726.0
29541790 29534578.0
0 0.0
0 0.0
9366227 9366227.0
16123851 16123851.0
5837674 5837674.0
94679598 82844648.0
38119483 38119483.0
15520023 15520017.0
505000000 505000000.0
369884651 369884651.0
189833357 189833357.0
75597042 65648116.0
147880543 147880543.0
182016617 182016617.0
84772742 84772742.0
77737889 77737888.0
88880821 88837422.0
110627965 110600956.0
92542418 92542418.0
67800064 67800064.0
95708457 95708457.0
57479076 57479076.0
35424826 35424826.0
0 0.0
22400154 22400154.0
51164106 51164106.0
9930095 9930095.0
19351569 19333850.0
77112176 77112176.0
0 0.0
33788161 33788161.0
23619609 23619609.0
63647656 63647655.0
0 0.0
43058898 43058898.0
13555988 13555988.0
0 0.0
10696210 10696210.0
0 0.0
0 0.0
0 0.0
72629670 72629670.0
0 0.0
26193068 26193068.0
17709155 17709155.0
14400000 14343674.0
0 0.0
15447154 15447154.0
12000000 12000000.0
9479718 9479718.0
15400000 15384961.0
92991835 92991835.0
0 0.0
0 0.0
24000000 24000000.0
73244881 73244881.0
70687344 70687344.0
0 0.0
46 46.0
42000000 41999997.0
40222729 40222729.0
205738714 205738713.0
41170784 41170784.0
37000000 37000000.0
43928932 43928932.0
41627431 41627431.0
17762705 17762705.0
14899417 14899417.0
17600000 17600000.0
10011050 10011050.0
0 0.0
0 0.0
970816 970816.0
69701637 69701637.0
2856712 2856712.0
389925971 389925971.0
358991681 358991681.0
303788635 303788635.0
29907685 29907685.0
299965036 299965036.0
132675402 132675401.0
272742922 272742921.0
121697323 121697323.0
117224271 117195652.0
187884007 187884007.0
149281606 149281606.0
318000141 318000141.0
97918663 97918663.0
100525432 100523898.0
131282949 131282948.0
122195920 122195920.0
113086475 113086475.0
177243185 177243185.0
0 0.0
0 0.0
187000000 187000000.0
57588485 57582334.0
60072596 60072596.0
53000000 53000000.0
207945075 207945075.0
0 0.0
41158757 41158757.0
183936074 183936074.0
48548426 48548426.0
109862682 109862682.0
66787908 66787908.0
135680000 135680000.0
67192859 67160306.0
84146832 84141736.0
45554533 34210561.0
41596251 41596251.0
43967255 43967255.0
86865564 86865564.0
88346473 88346472.0
27640028 27640028.0
39143839 39143839.0
37672350 37672350.0
0 0.0
41237648 41237648.0
35841901 35841901.0
65464324 65464324.0
60000000 60000000.0
80547866 80547866.0
135330182 135330182.0
41296320 41296320.0
50907234 50907234.0
50907422 50907422.0
47241945 47241945.0
0 0.0
78378744 78378744.0
31678778 31678778.0
54586584 54586584.0
46069568 22314947.0
68349884 68349884.0
35387212 35387212.0
67200000 67200000.0
0 0.0
45636368 45636368.0
47126295 47126295.0
0 0.0
0 0.0
64822796 64822796.0
72258126 72258126.0
32005248 32005248.0
65569869 65569869.0
46089287 46089287.0
0 0.0
51416464 51413129.0
49779728 49779728.0
17425000 17425000.0
27105095 27105095.0
0 0.0
39300000 39228022.0
37597471 37597471.0
0 0.0
28972508 28972508.0
21284514 21284514.0
83707310 83707310.0
20211394 20211394.0
0 0.0
32000000 32000000.0
36620508 36620508.0
34077920 34077920.0
0 0.0
18432000 18432000.0
18253415 18253415.0
22222308 22222308.0
56255142 56255142.0
17807569 17807569.0
52302796 52302796.0
25836616 25836616.0
0 0.0
17519169 17519169.0
100914445 100911750.0
0 0.0
73276047 73276047.0
60427839 60427839.0
16605763 16605763.0
17432163 17430168.0
0 0.0
17436509 17436509.0
15473333 15473332.0
34854990 34854990.0
14109284 14109284.0
22942221 22942221.0
13801755 13801755.0
30426096 30426096.0
32204030 30192998.0
0 0.0
34560577 34560577.0
0 0.0
13391174 13391098.0
27674124 27674124.0
12482775 12482775.0
12398628 12398628.0
0 0.0
17280326 17280326.0
24145613 24145613.0
0 0.0
0 0.0
12639297 12639297.0
10686841 10686841.0
0 0.0
36606743 30887183.0
0 0.0
0 0.0
16974459 16974459.0
0 0.0
9109322 9109322.0
12382362 12382362.0
10337477 10337477.0
11341016 11341016.0
20000000 20000000.0
11110975 11110970.0
16549477 16549477.0
7000000 7000000.0
15008161 15008161.0
0 0.0
6575282 6574931.0
0 0.0
6420319 6420319.0
27462041 27462041.0
7659918 7659918.0
0 0.0
10442808 10442489.0
5210988 5699360.0
0 0.0
12007070 11983620.0
0 0.0
0 0.0
4001121 3516608.0
16863583 16863583.0
5530764 5530764.0
0 0.0
159375308 159375308.0
0 0.0
5048693 5048654.0
0 0.0
1675706 1675706.0
5359645 5359645.0
7400000 7400000.0
0 0.0
3727746 3727746.0
0 0.0
0 0.0
0 0.0
305070 305070.0
47301471 47301471.0
0 0.0
4634062 4634062.0
346594 346594.0
17671101 17671101.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
5496951 5496951.0
0 0.0
0 0.0
424208848 424208847.0
216197492 216197492.0
110879513 110879513.0
70067909 70067908.0
173046663 173046663.0
0 0.0
44017374 44017374.0
381109762 381109762.0
40846082 40846082.0
0 0.0
0 0.0
49830607 49830607.0
101564935 101564935.0
5728213 6038690.0
0 0.0
54956140 54956140.0
274925095 274925095.0
0 0.0
8613462 8613462.0
76586316 76586316.0
18755936 18755936.0
29922472 29922472.0
4750000 4453125.0
6928068 6928068.0
5310554 5310554.0
2119994 2119994.0
0 0.0
0 0.0
108047131 108047131.0
32801173 32801165.0
46770602 46770602.0
0 0.0
10680275 10680275.0
31912793 31912793.0
268157400 268157400.0
351583407 351583407.0
151668774 151668774.0
261572744 261572744.0
141774679 141774679.0
87000000 87000000.0
144216468 144216468.0
65535067 65535067.0
19682924 19375378.0
0 0.0
65070412 65070412.0
76488889 76488889.0
67683989 67683989.0
88923251 44461625.0
72417394 72417394.0
98235548 98163563.0
51973029 51966684.0
14796236 14796236.0
129042871 129042871.0
0 0.0
87754044 87754044.0
41382841 41382841.0
103215094 103215094.0
99206215 99206215.0
76286096 76286096.0
62646763 62631483.0
0 0.0
21378361 21378361.0
47088990 47088990.0
24911670 24911670.0
24007324 24007319.0
100000000 100000000.0
23000000 23000000.0
36133014 36133014.0
0 0.0
0 0.0
35692920 35692920.0
0 0.0
17200925 17200925.0
24000000 24000000.0
16702864 16698786.0
0 0.0
34441873 8610468.0
0 0.0
0 0.0
2945600 2922676.0
28008462 28008462.0
12000000 12000000.0
10501938 10501938.0
8038061 8038061.0
25312387 25312387.0
0 0.0
0 0.0
6735922 6735922.0
14110013 14108506.0
0 0.0
5887457 5887456.0
20275812 20275812.0
26527510 26527510.0
25739015 25739015.0
0 0.0

0 0.0
20719451 20073154.0
6212282 6212282.0
0 0.0
22309223 22309223.0
0 0.0
3500000 3500000.0
676698 676698.0
7972967 7972967.0
382174 382174.0
871279 864472.0
0 0.0
0 0.0
34000000 34000000.0
0 0.0
1831348 1831348.0
6948633 6948633.0
13551174 13551174.0
121463226 121463226.0
90508336 90508336.0
0 0.0
150816700 150816700.0
51053787 51053787.0
38000000 37999998.0
99965753 99965753.0
7018189 7006172.0
266586800 266554262.0
0 0.0
183316455 183316455.0
72070731 72070731.0
125586134 125586134.0
136621271 136621271.0
109502303 109502303.0
19179969 19179969.0
70000000 70000000.0
0 0.0
71625195 71625195.0
57103895 57103895.0
136150434 136150434.0
0 0.0
30331165 30331165.0
43165571 43165571.0
69623713 69623713.0
0 0.0
45710059 45710059.0
0 0.0
21170563 21170563.0
115350426 115350425.0
19693891 19693891.0
0 0.0
0 0.0
0 0.0
0 0.0
29536299 29521884.0
10000000 10000000.0
97542952 97542952.0
20455276 20455276.0
7314027 7314027.0
19300000 19300000.0
0 0.0
9500000 9500000.0
0 0.0
0 0.0
86915017 86915017.0
2000000 2000000.0
1569918 1569918.0
3758328 3758328.0
374743 374743.0
0 0.0
8720000 8720000.0
9627492 9627492.0
0 0.0
2281089 2281089.0
43848069 43848063.0
135000000 135000000.0
37311672 37311672.0
13620075 13620025.0
16942795 16942795.0
235860116 235860116.0
247275374 247275374.0
92823546 92823546.0
53977250 53977250.0
119754278 119754278.0
0 0.0
133432856 133432856.0
76514050 76514050.0
68263166 68263166.0
0 0.0
6490401 6490401.0
0 0.0
83258226 83258226.0
0 0.0
29381649 29381649.0
40492759 40492759.0
30987695 30987695.0
30102717 30102717.0
80573774 80573774.0
50007546 49922042.0
96408652 96408652.0
0 0.0
20627372 20627372.0
0 0.0
31556061 31556046.0
15427192 15427192.0
0 0.0
0 0.0
0 0.0
13854000 13854000.0
206678440 206678438.0
18564088 18564088.0
12 12.0
0 0.0
0 0.0
0 0.0
4217115 4216085.0
5900000 5894283.0
2849142 2849142.0
1686429 1686429.0
5867686 5867686.0
0 0.0
24261569 22745545.0
14822346 14822346.0
53191886 53191886.0
754249 718755.0
0 0.0
47801389 47801389.0
0 0.0
3442853 1721426.0
0 0.0
0 0.0
1237615 1237615.0
0 0.0
0 0.0
316360478 316360478.0
476684675 476684673.0
0 0.0
177200000 177199662.0
356830601 356814266.0
213525736 213525736.0
356296601 356296590.0
414211549 194110605.0
216614388 216614388.0
317000 317000.0
146292009 146292009.0
11301649 5340324.0
233555708 233555708.0
0 0.0
67182787 67182787.0
75700498 75700498.0
146497771 146497771.0
61399552 61399552.0
151831537 151831537.0
123384128 123384128.0
73326666 73326666.0
55184721 55184721.0
0 0.0
127730736 127730736.0
66966987 66966987.0
52970014 52970014.0
50000000 50000000.0
64256513 64256513.0
55534455 54175471.0
42930462 42930462.0
61548707 57701926.0
40283321 40283321.0
0 0.0
44862187 44862187.0
66468332 66468332.0
48126384 48124181.0
35007180 35007180.0
123726688 123726688.0
0 0.0
33771174 33760868.0
69995385 69995385.0
39421467 39421467.0
52501541 49220194.0
32721635 32721635.0
47175038 47013637.0
37664855 37664855.0
30857814 30857814.0
30226144 30226144.0
78054825 78054825.0
29331068 29331068.0
46905889 46905889.0
64238440 64238440.0
30127963 30127963.0
32645546 32645546.0
27728118 27728118.0
28084357 27837602.0
40105542 40105542.0
0 0.0
24769466 24769466.0
85306374 85306374.0
0 0.0
23237911 23237911.0
43101594 43101593.0
0 0.0
21000000 21000000.0
0 0.0
38574362 38574362.0
0 0.0
22165608 22165608.0
20566327 20566327.0
20529194 20529194.0
17507368 17439245.0
35485608 35485608.0
32556119 32556119.0
0 0.0
42000000 41681974.0
17080167 17079907.0
37930465 37930465.0
31554855 31554855.0
0 0.0
0 0.0
22730842 11365421.0
15843608 15843608.0
0 0.0
59389433 59389433.0
16633035 16633035.0
12000000 12000000.0
0 0.0
0 0.0
0 0.0
0 0.0
15608545 15608545.0
10443316 10443316.0
0 0.0
0 0.0
14867514 14867514.0
46189568 46189568.0
10903846 10903846.0
9237470 9237470.0
18928871 18928871.0
9902115 9592679.0
8586376 8586376.0
0 0.0
0 0.0
34533783 34533783.0
0 0.0
8762890 8762890.0
6405245 6405245.0
8138788 8138788.0
35097815 35097815.0
5217498 5217498.0
12036149 12036149.0
0 0.0
15785148 15785148.0
4152230 3633201.0
20117339 20117339.0
0 0.0
0 0.0
9455232 9455232.0
5926410 5926410.0
0 0.0
0 0.0
7938872 7880669.0
0 0.0
0 0.0
650422 650422.0
9584131 9584131.0
529766 529766.0
632542 632010.0
0 0.0
0 0.0
8936663 8936663.0
6814789 6814789.0
76382 76382.0
3533227 3533227.0
0 0.0
20380 20380.0
0 0.0
27187375 27185719.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
70906973 70906973.0
122513057 122513056.0
147298761 147298761.0
17511906 17511906.0
0 0.0
159157447 159157447.0
674918 674670.0
377910544 377910544.0
320145693 320145693.0
463000000 463000000.0
239606210 239606210.0
0 0.0
161001698 161001697.0
154864401 154864401.0
100734718 100734718.0
75511123 75511123.0
185438673 185438673.0
72527595 72527595.0
34793160 34793160.0
0 0.0
114956699 114935643.0
0 0.0
27515786 27515786.0
25482931 25482931.0
19800000 19800000.0
30749142 30749142.0
0 0.0
0 0.0
22852638 22852638.0
21409028 21409028.0
0 0.0
21001563 20996596.0
0 0.0
0 0.0
0 0.0
13196245 13196245.0
16951798 16951798.0
0 0.0
10424470 10424470.0
11417362 11417362.0
19777647 19777647.0
14821658 14821658.0
5108820 5108820.0
0 0.0
4291965 4291965.0
2474000 2474000.0
0 0.0
0 0.0
5405500 5405500.0
0 0.0
0 0.0
0 0.0
46495 46495.0
0 0.0
1755212 1755212.0
178043761 178043761.0
0 0.0
29027914 29027914.0
12314651 12290599.0
7060876 7060876.0
19422261 19422261.0
0 0.0
92180910 91820740.0
38535221 38535221.0
5380251 5380251.0
123922370 123922370.0
98441954 98441954.0
327803731 327803731.0
47542841 47542840.0
91038276 91038276.0
72500000 72498894.0
77000000 77000000.0
73180723 73180723.0
44726644 44726644.0
54837234 54837234.0
49002684 49002684.0
53478166 53478166.0
0 0.0
0 0.0
119100758 119100758.0
96060858 96060858.0
0 0.0
0 0.0
36450736 36450736.0
27007143 27007143.0
0 0.0
35763605 35763605.0
53830415 53830415.0
57096190 57096190.0
36869414 36869414.0
22863596 22863596.0
0 0.0
45300000 45300000.0
16929123 16929123.0
68673228 68673228.0
11130889 11130888.0
8026971 8026971.0
35401758 35401742.0
0 0.0
7820688 7820687.0
27500000 27500000.0
16757163 16757163.0
0 0.0
0 0.0
48065672 48065672.0
4857367 4857367.0
0 0.0
18000000 18000000.0
0 0.0
8459458 8459458.0
9789900 9789900.0
2636637 2636637.0
33400000 33400000.0
1200000 1200000.0
1151330 1151330.0
0 0.0
1784763 892381.0
3964682 3964682.0
303877 303877.0
68572378 68572378.0
0 0.0
33082548 33082548.0
10652035 10636432.0
55260558 55259768.0
23367586 23367586.0
0 0.0
12281551 12281551.0
0 0.0
10725228 10719965.0
0 0.0
0 0.0
27206120 27206120.0
0 0.0
11293663 11293663.0
20416563 20416563.0
40031879 40031879.0
0 0.0
1227324 1227324.0
5024782 5024782.0
31327899 31327899.0
1083683 1083683.0
84460846 84460846.0
15 0.0
3878993 3878993.0
441306145 441306145.0
470654000 470654000.0
235483004 235483004.0
8109160 7856738.0
79817939 79817939.0
96070507 96070507.0
75781642 75781642.0
96800000 96800000.0
107217396 100519772.0
79567667 79567667.0
68706993 68706862.0
81272766 81272766.0
114194847 114194847.0
0 0.0
39673162 39668167.0
43493123 43493123.0
145000000 145000000.0
30400000 30400000.0
42365581 42365581.0
61141030 61141030.0
100000000 100000000.0
89800000 89800000.0
52223306 51815313.0
40855419 40850744.0
56309766 56289139.0
31179516 31179516.0
31155435 31155435.0
27281507 23658214.0
56298474 56298474.0
32726956 32726956.0
307166834 307166834.0
22921898 22921897.0
25434291 25434291.0
54000000 54000000.0
21133087 21133087.0
100129872 100129872.0
0 0.0
0 0.0
23006849 23006849.0
85512300 85512300.0
17654912 17653296.0
0 0.0
17292381 11888512.0
22939027 22939027.0
42931041 42931041.0
13960203 13960203.0
12902790 12902790.0
21520719 21520719.0
0 0.0
0 0.0
31466789 31466789.0
85000000 84997406.0
0 0.0
87100449 87100449.0
92863945 92863945.0
35485056 35485056.0
32248241 32248241.0
0 0.0
0 0.0
6739141 6739141.0
5542025 5542025.0
0 0.0
6754898 6754898.0
4922166 4919763.0
4939939 4939939.0
23 23.0
3148182 3148182.0
0 0.0
88489643 66541424.0
0 0.0
0 0.0
8371085 8371085.0
0 0.0
12077441 12077441.0
19271312 19271312.0
0 0.0
0 0.0
1644755 1644755.0
15250000 14298504.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
10652498 10652498.0
11212294 11212294.0
17479 17479.0
0 0.0
101332962 101332962.0
83557872 83557872.0
57469467 57469467.0
0 0.0
0 0.0
0 0.0
153083102 153083102.0
775398007 775398007.0
94073028 94073027.0
111858363 111858363.0
0 0.0
0 0.0
93617009 93617008.0
72778712 72778712.0
64088552 64088552.0
78874843 78874843.0
0 0.0
49797148 49797148.0
0 0.0
97837138 97837138.0
41227069 40904983.0
39363635 39363635.0
75902208 75902208.0
68233629 68233629.0
31672907 31672907.0
38105395 38105395.0
23978402 23978402.0
37170057 37170057.0
11 11.0
4884663 4884663.0
62076141 62076141.0
20000000 20000000.0
14782676 14782676.0
13700000 13700000.0
59520298 59520298.0
23430766 23430766.0
13110448 13110448.0
61619773 61619773.0
0 0.0
0 0.0

6413915 6413915.0
30000000 30000000.0
4069090 4069090.0
0 0.0
0 0.0
2832826 2832826.0
32935319 32935319.0
16017403 16017403.0
2807854 691005.0
2200000 2200000.0
2945242 2945242.0
0 0.0
0 0.0
113857533 113857533.0
0 0.0
0 0.0
0 0.0
17000000 17000000.0
18535191 18535191.0
0 0.0
0 0.0
68700000 68700000.0
792910554 792910554.0
17500000 17500000.0
0 0.0
123509 123509.0
0 0.0
9622846 9622846.0
0 0.0
225933435 225933435.0
0 0.0
163876815 163876815.0
85300000 85300000.0
90449929 90449928.0
118587880 59119322.0
103166989 103166989.0
139352633 139352633.0
91196419 91196419.0
57231524 57231524.0
52293982 52293982.0
50100000 50099999.0
50752337 50560234.0
183474602 183474602.0
41205099 41205099.0
59217789 59217789.0
40485039 40485039.0
37402877 37402877.0
136836156 136836156.0
44460850 22230425.0
36230219 36230219.0
57500000 57500000.0
64188367 64188367.0
33583175 33058942.0
33526835 33526835.0
104303851 104303851.0
25754284 25754284.0
32101000 32101000.0
32973937 32973937.0
30652890 30652890.0
0 0.0
29450919 14725459.0
30050028 30050028.0
29392418 29392418.0
34411240 34411240.0
38368909 38368909.0
25605015 25605015.0
33697647 33697647.0
143695338 143695338.0
20766616 20746272.0
52882018 52882018.0
24637469 24637469.0
0 0.0
42333295 42333295.0
0 0.0
0 0.0
0 0.0
0 0.0
17096053 17096053.0
66821036 66821036.0
85978266 85978266.0
0 0.0
0 0.0
16153593 16153593.0
0 0.0
48572000 48572000.0
28650575 28650575.0
15795189 15795189.0
15156200 15156200.0
21587700 21587700.0
20342161 19984584.0
0 0.0
0 0.0
0 0.0
35057696 35057696.0
17297244 17297244.0
0 0.0
58978653 58978653.0
0 0.0
0 0.0
12827813 12827813.0
10571408 10571408.0
28883511 28883511.0
9898412 9898412.0
8801940 8799825.0
6110000 6110000.0
0 0.0
32438988 32438988.0
0 0.0
9636289 9636289.0
6861102 6861102.0
23875127 23875127.0
6842058 6842058.0
0 0.0
9495408 9495408.0
0 0.0
0 0.0
7800000 7800000.0
33000000 33000000.0
2154696 2154696.0
21571189 21571189.0
0 0.0
7177143 6728574.0
10835752 10835752.0
4417580 4417580.0
0 0.0
0 0.0
3275585 3275585.0
3193102 3193102.0
98410061 98410049.0
5164404 5164404.0
0 0.0
0 0.0
0 0.0
0 0.0
40055439 40055439.0
439564 439564.0
7587485 7587485.0
1759252 1759252.0
0 0.0
1631839 1631839.0
0 0.0
1969193 1969193.0
0 0.0
3665069 3665069.0
7022728 7022728.0
0 0.0
0 0.0
21786738 21786738.0
0 0.0
598645 722176.0
42776760 42776760.0
0 0.0
0 0.0
0 0.0
1072602 1072602.0
0 0.0
0 0.0
295750 295750.0
0 0.0
0 0.0
42145 42145.0
126247 126247.0
0 0.0
0 0.0
45779 45779.0
0 0.0
0 0.0
140987 140987.0
17472 8736.0
9069 9069.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
11 11.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
10000000 10000000.0
0 0.0
17164377 17164377.0
4386236 2741448.0
59827328 59827328.0
0 0.0
111584787 111578827.0
0 0.0
19839492 19761975.0
14144000 14144000.0
0 0.0
60000000 60000000.0
85582407 85582407.0
0 0.0
0 0.0
0 0.0
0 0.0
21817298 21817298.0
0 0.0
0 0.0
104931801 104931801.0
30859000 30859000.0
2995811 2995811.0
83304330 83304330.0
141195658 141195658.0
0 0.0
8220215 8220215.0
41590886 41590886.0
34573780 38776867.0
44196684 44196684.0
24538513 24538513.0
108782847 108782847.0
0 0.0
23936908 23936908.0
0 0.0
28780255 28780255.0
90400000 90400000.0
21510851 21510851.0
0 0.0
0 0.0
0 0.0
6126237 6126237.0
4777465 4777465.0
4350774 4350774.0
0 0.0
0 0.0
2955039 2955039.0
0 0.0
1053788 1053788.0
0 0.0
18663238 18663238.0
0 0.0
14348529 14348529.0
0 0.0
771499 771499.0
140666 140666.0
0 0.0
1046166 1046166.0
0 0.0
0 0.0
0 0.0
328203506 328203506.0
0 0.0
0 0.0
0 0.0
20374201 20374201.0
14373825 14373825.0
0 0.0
0 0.0
32222567 32222567.0
39462438 39462438.0
29174648 29174648.0
22456509 22456509.0
2500000 2500000.0
0 0.0
0 0.0
20138836 20138836.0
43528634 43528634.0
5271666 5271666.0
0 0.0
0 0.0
4440055 4440055.0
42345360 42333728.0
6108720 6108720.0
22889018 22889018.0
46000000 46000000.0
30000000 30000000.0
188126 188126.0
0 0.0
213928762 213928761.0
76657000 76657000.0
38697217 38697217.0
5001655 5001655.0
286214286 286214286.0
69821334 69821334.0
100523181 100523181.0
52287414 52287414.0
82719885 82719885.0
43000000 43000000.0
0 0.0
39187783 39187783.0
0 0.0
26049082 26049082.0
0 0.0
0 0.0
81974493 81654285.0
18090181 18090181.0
22593409 22593409.0
18948425 18948425.0
17460020 17460020.0
29010817 25384506.0
34266564 34266564.0
16856124 16856124.0
12671300 12671300.0
10629321 10629320.0
0 0.0
25288872 25282710.0
74952305 74952304.0
8880705 8880705.0
8279017 8279017.0
10130000 10130000.0
0 0.0
0 0.0
25966555 25966555.0
5659286 5659286.0
18124262 18124262.0
0 0.0
2275557 2204511.0
0 0.0
6491240 6491240.0
0 0.0
92 92.0
589304 589304.0
0 0.0
0 0.0
63464861 63216951.0
852872 852872.0
458232 458232.0
0 0.0
0 0.0
0 0.0
426224 426224.0
3453043 3453043.0
0 0.0
143451 143451.0
0 0.0
53086 52269.0
553171 553171.0
413454 413454.0
0 0.0
0 0.0
2455831 2455831.0
0 0.0
22441323 22441323.0
0 0.0
882290 878897.0
0 0.0
145793296 145793296.0
0 0.0
32392047 32392047.0
0 0.0
24793509 24793509.0
35619521 35619521.0
26096852 26096653.0
11588205 11588205.0
0 0.0
12633747 12633747.0
0 0.0
10848783 10851431.0
0 0.0
0 0.0
5634828 5282689.0
0 0.0
0 0.0
0 0.0
0 0.0
19000000 19000000.0
1333124 1333124.0
10329747 10329747.0
2400000 2400000.0
231411584 216948360.0
0 0.0
116019547 116019547.0
245066411 245066411.0
92921203 92921203.0
60722734 60722734.0
116700000 116700000.0
167221571 167221571.0
0 0.0
161777836 161777836.0
0 0.0
55447968 55442045.0
37710610 37710610.0
54600000 54600000.0
49084830 49084830.0
25405445 25405445.0
25000000 25000000.0
97572000 97572000.0
20256975 20256975.0
0 0.0
21268532 21268532.0
36433975 36433975.0
14702438 14702438.0
0 0.0
17986781 17986781.0
14011454 14011454.0
16829545 16829544.0
31430334 31430334.0
0 0.0
0 0.0
14618727 14618727.0
0 0.0
8373585 8373585.0
7292175 7292175.0
0 0.0
0 0.0
5 5.0
4720371 4720371.0
29385320 29385320.0
0 0.0
0 0.0
2062066 2062066.0
0 0.0
6038942 6038942.0
0 0.0
1246141 1246141.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
382946 382946.0
523511 523511.0
0 0.0
0 0.0
573335 286667.0
453079 453079.0
1310673 1310673.0
46488 46488.0
0 0.0
30471 30471.0
0 0.0
0 0.0
12400000 12200000.0
0 0.0
41410568 41410568.0
8900000 8900000.0
7993039 7993039.0
7000000 7000000.0
0 0.0
0 0.0
0 0.0
44287131 44287131.0
7103838 7103838.0
0 0.0
0 0.0
0 0.0
255273813 255273813.0
57504069 57504069.0
54215416 53368300.0
0 0.0
31899000 31899000.0
0 0.0
28451622 28451622.0
13368437 13368437.0
12376563 12376563.0
10 10.0
0 0.0
17693675 17693675.0
11850214 11850214.0
2401510 2401510.0
1548955 1548955.0
0 0.0
1521261 1521261.0
0 0.0
8159508 8159508.0
78371200 78371200.0
79384880 79384880.0
0 0.0
14237000 14237000.0
2122561 2122561.0
181813770 181813770.0
138530565 138526337.0
119114517 119114517.0
102308889 102308889.0
102272727 102272727.0
0 0.0
43656822 43656822.0
39846344 39846343.0
25059640 25059640.0
23341568 23341568.0
22168359 22168359.0
38275483 38275483.0
44703995 44703995.0
20400000 20400000.0
0 0.0
50244700 50244700.0
0 0.0
18197398 18197398.0
18814720 18814720.0
18750246 18750246.0
0 0.0
58000000 58000000.0
12000000 12000000.0
48027970 48025405.0
11642254 11642254.0
9206470 9206470.0
7518876 3759438.0
0 0.0
6852450 6852450.0
13231461 13231461.0
0 0.0
6670712 6670712.0
19560274 19560274.0
6230276 6230276.0
10409377 10409377.0
0 0.0
0 0.0
5483299 5483299.0
4398989 4398989.0
0 0.0
3283371 3283371.0
0 0.0
2944752 2939007.0
2025238 2025238.0
0 0.0
638641 638641.0
2899975 2899975.0
0 0.0
0 0.0
869325 869325.0
399611 374656.0
0 0.0
1332231 1332231.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
66351 66351.0
0 0.0
0 0.0
2120439 2054176.0
3897799 3897799.0
32251 32251.0
530048 530048.0
0 0.0
6800000 6800000.0
27165581 27165581.0
76578641 76578641.0
7000000 5250000.0
18469680 18469680.0
159616327 159538387.0
58972904 58742764.0
0 0.0
0 0.0
0 0.0
15700000 15700000.0
0 0.0
0 0.0
4865000 4865000.0
0 0.0
3031801 3031801.0
2466444 2461632.0
37295445 37295445.0
0 0.0
792 792.0
0 0.0
11502151 11502151.0
0 0.0
0 0.0
15699707 15699707.0
0 0.0
0 0.0
5000000 5000000.0
0 0.0
0 0.0
152925093 152925093.0
108286421 108286421.0
64282312 64282312.0
44107032 44107032.0
205703818 204146217.0
103590271 103590271.0
44793222 44793222.0
99067206 99067206.0
142817992 142817992.0
36000000 35999999.0
41833347 41833347.0
34872033 34872033.0
60378584 60378584.0
28200000 28200000.0
86362372 86235741.0
26010864 26010864.0
55198285 55198285.0
64110728 64110728.0
39723096 39723096.0
44030246 44030246.0
26888376 26888376.0
110000000 110000000.0
23198652 23198652.0
20659423 20659423.0
0 0.0
0 0.0
0 0.0
17273593 17273593.0
24804129 24804129.0
0 0.0
40100000 20050000.0
0 0.0
43884652 43884652.0
15000000 15000000.0
19905359 19905359.0
14000000 13998398.0
368744044 368744044.0
31724284 31724284.0
15116634 15116634.0
33616692 33616692.0
30039392 30039392.0
0 0.0
13269963 13166294.0
17768757 17768757.0
0 0.0
0 0.0
12232628 12232628.0
25562924 25169552.0
16174377 16174377.0

54418872 54418872.0
14056528 14056528.0
12200000 12200000.0
21164799 21164799.0
25 25.0
0 0.0
0 0.0
3432342 3432342.0
0 0.0
0 0.0
7230000 7230000.0
0 0.0
6538177 6538177.0
0 0.0
5321508 5321508.0
5476060 5455001.0
9760104 9726711.0
4074023 4074023.0
3263585 3263585.0
41424067 41424067.0
4040588 4040588.0
3049135 3049135.0
4842699 2421350.0
2614773 2614763.0
1980338 1980338.0
8203235 8203235.0
0 0.0
2450846 2450846.0
5129058 5129058.0
742898 742898.0
3220371 3220371.0
0 0.0
846704 423352.0
560069 560069.0
0 0.0
0 0.0
0 0.0
5476793 5476793.0
0 0.0
0 0.0
98450062 98450062.0
782102 782102.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
17872796 17733198.0
24475416 24463558.0
209696 209693.0
80578934 80422778.0
0 0.0
3099314 3099314.0
0 0.0
0 0.0
8025872 8025872.0
11000000 10999979.0
10337387 10337387.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
146198896 146198896.0
58853106 57937007.0
254700832 254700832.0
27092880 27092880.0
10400000 10400000.0
13060843 13060843.0
7011317 7011317.0
7390108 7390108.0
0 0.0
0 0.0
0 0.0
10429707 10429707.0
1270522 1270522.0
0 0.0
0 0.0
744816 744816.0
23803308 22313859.0
0 0.0
0 0.0
0 0.0
623528 623528.0
0 0.0
3606395 3606395.0
108981275 108981275.0
0 0.0
0 0.0
32000000 32000000.0
0 0.0
0 0.0
6294161 6294161.0
0 0.0
0 0.0
41400000 41400000.0
0 0.0
0 0.0
0 0.0
0 0.0
32000000 32000000.0
62548947 62526220.0
125728258 125728258.0
0 0.0
30000000 30000000.0
119723856 119723413.0
38251425 38251425.0
36000000 35997803.0
44909486 44909486.0
187112 187112.0
49800000 49800000.0
0 0.0
0 0.0
52425855 52425705.0
14400000 14400000.0
34705850 34705850.0
13008928 13008928.0
11744471 11744471.0
10000000 10000000.0
15179302 15179302.0
44349000 44348999.0
31584901 31584901.0
10229331 10229331.0
0 0.0
8200000 8200000.0
0 0.0
0 0.0
44000000 44000000.0
0 0.0
0 0.0
6000000 6000000.0
4630045 4630045.0
4300000 4300000.0
9304609 9304609.0
3468572 3468572.0
0 0.0
2426851 2426851.0
1919197 1919197.0
1104682 1104682.0
866999 866999.0
0 0.0
0 0.0
1406224 1406224.0
0 0.0
0 0.0
0 0.0
641100 641100.0
2365467 2365467.0
302204 302204.0
354704 354704.0
0 0.0
0 0.0
120000 120000.0
0 0.0
0 0.0
318982 318982.0
0 0.0
146402 146402.0
33245 33245.0
0 0.0
0 0.0
355688 344736.0
25345000 25345000.0
4037782 4037782.0
0 0.0
0 0.0
8000000 8000000.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
28350000 28349784.0
23689877 23689877.0
400176459 400176459.0
0 0.0
14873 14873.0
8000000 8000000.0
4270000 4270000.0
44462 44462.0
2956000 2933617.0
0 0.0
13401952 13401952.0
44785053 44785053.0
257850122 257849138.0
83453539 83453539.0
0 0.0
28215918 28215918.0
27900000 27900000.0
14000000 14000000.0
5000000 5624466.0
13007551 13007551.0
12800000 12800000.0
12000000 12000000.0
12600000 12600000.0
40423945 40423945.0
0 0.0
9482579 9482579.0
6451628 6352348.0
33965843 33965843.0
0 0.0
5923044 5923044.0
0 0.0
4159678 4159678.0
113783 113783.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
31063038 31063038.0
127392239 127392239.0
19504039 19504039.0
3830137 3830137.0
13092000 13091001.0
30641770 30641770.0
4000000 4000000.0
0 0.0
0 0.0
16800000 16800000.0
19294144 19294144.0
0 0.0
0 0.0
45000 22500.0
7 7.0
28814580 28364355.0
33395426 33395426.0
8000000 7999984.0
2277396 2277396.0
0 0.0
5332926 5332926.0
658573 658563.0
141000000 141000000.0
124881062 124880824.0
0 0.0
9644124 9644124.0
16491080 16491080.0
0 0.0
177512032 177512032.0
0 0.0
35564473 35004449.0
0 0.0
29999213 29999213.0
20966644 20966644.0
89328627 89328627.0
77712439 77712439.0
17570324 17570324.0
18999718 18999718.0
23144499 23144499.0
68411275 53751716.0
19472057 19472057.0
33300000 33300000.0
15369573 15369573.0
7900000 7900000.0
25000000 25000000.0
15938065 15932227.0
13000000 13000000.0
11718595 11718595.0
229094 229094.0
0 0.0
0 0.0
10400000 10400000.0
10000000 9999999.0
9016377 9016377.0
9012000 9012000.0
11176469 11176469.0
0 0.0
7282851 7282851.0
10422387 10106248.0
28200000 28200000.0
0 0.0
4109095 4109095.0
0 0.0
4000000 4000000.0
0 0.0
0 0.0
0 0.0
3076820 3461446.0
3011195 3011195.0
4069826 4069826.0
9879971 9879971.0
2807390 2807390.0
0 0.0
1826705 1826705.0
14980005 14917595.0
0 0.0
748453 748453.0
0 0.0
2357852 2357852.0
0 0.0
0 0.0
11947954 11947954.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
22000 22000.0
3387000 1693500.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
3200000 3200000.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
5596708 5596708.0
5000000 5000000.0
0 0.0
0 0.0
103735 103735.0
0 0.0
0 0.0
0 0.0
23563727 23563727.0
25000000 25000000.0
19170001 19170001.0
33754967 33754967.0
86273333 86273333.0
5364858 5364858.0
0 0.0
37799643 37799643.0
0 0.0
6600000 6600000.0
5363000 5363000.0
119500000 119500000.0
32980880 32980880.0
10700000 10700000.0
0 0.0
0 0.0
553198 553198.0
0 0.0
7200000 7200000.0
60141683 60141683.0
34585416 34585350.0
14400000 14400000.0
12348905 12348905.0
10000000 10000000.0
32230907 31152313.0
0 0.0
26781723 26781723.0
5535405 5535405.0
0 0.0
0 0.0
0 0.0
3325038 3325038.0
9726954 9726954.0
6854611 6854611.0
0 0.0
71904 71900.0
0 0.0
0 0.0
107559 107559.0
324138 324138.0
0 0.0
0 0.0
5731103 5731103.0
0 0.0
495303 495303.0
0 0.0
8176544 8176544.0
0 0.0
6892000 6875174.0
0 0.0
565592 565592.0
11000000 11000000.0
0 0.0
0 0.0
0 0.0
83320000 37494000.0
0 0.0
36690067 36690067.0
21930418 21909023.0
0 0.0
9132000 9132000.0
0 0.0
0 0.0
0 0.0
23650000 23650000.0
480811 466006.0
0 0.0
3330 1665.0
30448000 30448000.0
0 0.0
0 0.0
78898765 78898765.0
0 0.0
18344729 18344729.0
14674076 14674076.0
18016290 18007497.0
13129846 13129846.0
24600832 24600832.0
0 0.0
11540607 11540607.0
13101672 13101672.0
70000000 70000000.0
34522221 34522221.0
7600000 7600000.0
9172000 9171999.0
1477676 1471859.0
0 0.0
15992615 15500174.0
20908467 20908467.0
4601043 4600797.0
7800000 7800000.0
13831503 13831503.0
13885802 13885802.0
4000000 4000000.0
0 0.0
7871522 7871522.0
11122090 10948307.0
0 0.0
5967038 5967038.0
2801508 2801508.0
2506446 2506446.0
5179037 5179037.0
11125849 11125849.0
1477002 1477002.0
0 0.0
876302 876302.0
0 0.0
563706 563706.0
390659 390659.0
0 0.0
0 0.0
124494 124494.0
0 0.0
187674 187674.0
1100000 1100000.0
0 0.0
0 0.0
0 0.0
54207 54207.0
0 0.0
622806 622806.0
0 0.0
3983997 3983997.0
0 0.0
0 0.0
0 0.0
0 0.0
95000 95000.0
0 0.0
0 0.0
11833696 11833064.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
19152480 19152480.0
864659 864659.0
0 0.0
0 0.0
222000 208131.0
2957978 2957978.0
0 0.0
67738090 67738090.0
0 0.0
8000000 8000000.0
9440272 9440272.0
0 0.0
21107746 21107746.0
8844595 8844595.0
0 0.0
0 0.0
621951 621951.0
0 0.0
6800000 6800000.0
0 0.0
0 0.0
0 0.0
7267585 7260488.0
150277 150277.0
0 0.0
23311391 11276687.0
9700000 9700000.0
0 0.0
572809 572809.0
1943649 1943649.0
4235151 4235151.0
0 0.0
7433101 7433100.0
30500000 30500000.0
5400000 5400000.0
0 0.0
6033999 6033999.0
0 0.0
0 0.0
0 0.0
4420000 4420000.0
0 0.0
0 0.0
0 0.0
22179430 22179430.0
11806119 11806119.0
9600000 9600000.0
7412216 5559191.0
11098131 11098131.0
10013424 10013424.0
0 0.0
7000000 7000000.0
0 0.0
97009150 97009150.0
2300000 2300000.0
0 0.0
0 0.0
712294 712294.0
3566225 3566225.0
418961 418961.0
416925 416925.0
414404 414404.0
373967 373967.0
0 0.0
8500000 8500000.0
173066 173066.0
0 0.0
0 0.0
0 0.0
32000 32000.0
0 0.0
1165882 1165882.0
0 0.0
0 0.0
0 0.0
0 0.0
1500000 1500000.0
0 0.0
0 0.0
184925486 184925486.0
0 0.0
2620000 2620000.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
3897569 3897569.0
0 0.0
0 0.0
1632 1632.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
6000000 6000000.0
21722776 21722776.0
11000000 10998657.0
3412497 3412497.0
0 0.0
8500000 8500000.0
6000000 6000000.0
0 0.0
0 0.0
103911669 103911669.0
18492362 9246111.0
0 0.0
0 0.0
0 0.0
0 0.0
7000000 7000000.0
0 0.0
2861020 2861020.0
14661007 14661007.0
0 0.0
6000000 6000000.0
0 0.0
0 0.0
25000 12500.0
0 0.0
0 0.0
2736000 2736000.0
0 0.0
18637690 18637690.0
0 0.0
1400000 1400000.0
0 0.0
0 0.0
0 0.0
4105187 4105187.0
10462500 10462499.0
0 0.0
0 0.0
0 0.0
117235147 117235147.0
0 0.0
37600000 37600000.0
62882090 62882090.0
28262574 28262574.0
17985893 17985893.0
59600000 59600000.0
18112929 18112929.0
14564027 14564027.0
23507567 23496078.0
10047674 10028055.0
10037390 10037390.0
16566240 16566240.0
13350369 13350369.0
101758490 101758490.0
40000000 40000000.0
9000000 9000000.0
46243000 44005436.0
7800000 7800000.0
0 0.0
6833445 6833445.0
0 0.0
9138338 9138338.0
0 0.0
5284309 5284309.0
3538446 3538446.0
3123963 3123963.0
0 0.0
0 0.0
2057193 2057193.0
0 0.0
1678874 1678874.0
0 0.0
852206 852206.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
336472 336472.0
0 0.0
444575 444575.0
274661 274661.0
0 0.0
0 0.0
0 0.0
14870 14870.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
10018 10018.0

0 0.0
7202 5408.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
814666 814666.0
0 0.0
0 0.0
9600000 9600000.0
30905 30905.0
1185783 1185783.0
7022209 7022209.0
381420 381420.0
0 0.0
17385830 17373090.0
0 0.0
267447150 267447150.0
0 0.0
819939 819939.0
0 0.0
1243961 1243961.0
3094813 3094813.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
1001437 1001437.0
0 0.0
0 0.0
0 0.0
0 0.0
1984662 1984662.0
0 0.0
0 0.0
140000000 139999990.0
0 0.0
4007792 4007792.0
0 0.0
171760 171760.0
78396 78396.0
0 0.0
0 0.0
0 0.0
0 0.0
8000000 7999999.0
7830611 7830611.0
0 0.0
0 0.0
4911725 4911724.0
10508 5253.0
0 0.0
0 0.0
3202000 3202000.0
248000000 248000000.0
34505110 15503601.0
0 0.0
0 0.0
0 0.0
0 0.0
12299668 12299668.0
0 0.0
0 0.0
33456317 33456317.0
0 0.0
54667954 54667954.0
17000000 17000000.0
8679814 8679814.0
500000 500000.0
0 0.0
0 0.0
0 0.0
603943 454146.0
0 0.0
0 0.0
343341 343341.0
0 0.0
271841 271836.0
0 0.0
98017 98017.0
4242978 4242978.0
0 0.0
0 0.0
0 0.0
316472 311546.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
773228 773228.0
973525 973525.0
0 0.0
2281000 2281000.0
0 0.0
0 0.0
46118097 46118097.0
258384 258384.0
193355800 193355800.0
0 0.0
5028948 5028934.0
0 0.0
0 0.0
170000000 170000000.0
0 0.0
2451545 2449151.0
0 0.0
0 0.0
8394751 8394623.0
4358000 4358000.0
29400000 29400000.0
31081 31081.0
0 0.0
1750211 1750211.0
0 0.0
0 0.0
0 0.0
1000000 1000000.0
246574 246574.0
4500000 4500000.0
110197 110197.0
7808524 7808524.0
1281176 1281176.0
16 16.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
40542 40542.0
0 0.0
0 0.0
8000000 8000000.0
0 0.0
0 0.0
319285 319285.0
12021272 12021272.0
501818 501818.0
203 203.0
0 0.0
3542353 3542353.0
0 0.0
56825 56825.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
22000000 22000000.0
0 0.0
0 0.0
2260712 2258521.0
0 0.0
111300 111300.0
5000000 5000000.0
100000000 100000000.0
4505922 4505921.0
14500000 14500000.0
2200000 2200000.0
2295733 2295733.0
2611555 2611555.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
900000 900000.0
469947 469947.0
0 0.0
1776935 1776935.0
15200000 15200000.0
2891288 2891288.0
20710513 20710513.0
0 0.0
0 0.0
0 0.0
0 0.0
6706368 6706368.0
0 0.0
3200000 3200000.0
0 0.0
0 0.0
15861566 15861566.0
10178331 10178331.0
42664410 21332205.0
7000000 7000000.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
3221152 3221152.0
0 0.0
0 0.0
28575078 28575078.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
416498 416498.0
0 0.0
600896 600896.0
0 0.0
0 0.0
321952 321951.0
0 0.0
3151130 3151130.0
0 0.0
0 0.0
0 0.0
0 0.0
0 0.0
6000000 6000000.0
0 0.0
0 0.0
99000 95908.0
0 0.0
0 0.0
0 0.0
424760 424760.0
2040920 1534707.0
0 0.0
0 0.0

In [42]:
# Give a name to the actors

cast2_name = cast2.merge(right = actors[['actor_id','name']], on = 'actor_id')
cast2_name

,actor_id,movie_id,order,num_actors,revenue,part,name
0,65731,19995,0,83,2787965087,1393982544.00,Sam Worthington
1,65731,534,1,15,371353001,92841084.00,Sam Worthington
2,65731,57165,0,18,301000000,150500574.00,Sam Worthington
3,65731,18823,0,35,232713139,116356570.00,Sam Worthington
4,65731,10592,19,20,32287044,31.00,Sam Worthington
5,65731,253412,4,36,203427584,6357112.00,Sam Worthington
6,65731,13922,15,56,10166502,155.00,Sam Worthington
7,65731,49527,0,56,46221189,23110594.00,Sam Worthington
8,65731,144336,1,57,17508518,4377130.00,Sam Worthington
9,65731,48289,4,9,45636368,1428927.00,Sam Worthington
10,8691,19995,1,83,2787965087,696991272.00,Zoe Saldana
11,8691,54138,2,98,467365246,58420656.00,Zoe Saldana
12,8691,188927,4,33,343471816,10733494.00,Zoe Saldana
13,8691,118340,1,80,773328629,193332157.00,Zoe Saldana
14,8691,13475,6,168,385680446,3013128.00,Zoe Saldana
15,8691,22,7,70,655011224,2558638.00,Zoe Saldana
16,8691,594,7,23,219417255,857099.00,Zoe Saldana
17,8691,228326,2,28,97437106,12179638.00,Zoe Saldana
18,8691,7461,9,29,151161491,147619.00,Zoe Saldana
19,8691,62835,0,18,60965854,30483043.00,Zoe Saldana
20,8691,11638,2,7,68915888,8682317.00,Zoe Saldana
21,8691,22907,6,18,69055695,539500.00,Zoe Saldana
22,8691,190955,4,16,2415472,75485.00,Zoe Saldana
23,8691,34813,1,16,23580000,5895090.00,Zoe Saldana
24,8691,164457,1,41,15400000,3850000.00,Zoe Saldana
25,8691,13497,1,15,57588485,14397561.00,Zoe Saldana
26,8691,10560,1,5,17200925,4438948.00,Zoe Saldana
27,8691,17130,1,9,61141030,15315170.00,Zoe Saldana
28,8691,10050,4,20,0,0.00,Zoe Saldana
29,8691,83686,1,15,13231461,3307966.00,Zoe Saldana
...,...,...,...,...,...,...,...
103076,1487596,124606,7,14,0,0.00,Art Cruz
103077,99636,124606,8,14,0,0.00,David Alan Graf
103078,152699,124606,10,14,0,0.00,James Noble
103079,31178,124606,12,14,0,0.00,David Preston
103080,859896,124606,13,14,0,0.00,Paul Saucido
103081,76624,14337,0,19,424760,212380.00,Shane Carruth
103082,110171,14337,2,19,424760,53095.00,Casey Gooden
103083,110172,14337,3,19,424760,26548.00,Anand Upadhyaya
103084,110173,14337,4,19,424760,13274.00,Carrie Crawford
103085,1080287,14337,5,19,424760,6637.00,Jay Butler
103086,1080288,14337,6,19,424760,3318.00,John Carruth
103087,1080289,14337,7,19,424760,1659.00,Juan Tapia
103088,1080290,14337,8,19,424760,830.00,Ashley Warren
103089,1080291,14337,9,19,424760,415.00,Samantha Thomson
103090,1080292,14337,10,19,424760,207.00,Chip Carruth
103091,1080293,14337,11,19,424760,104.00,Delaney Price
103092,1080294,14337,12,19,424760,52.00,Jack Pyland
103093,1080295,14337,13,19,424760,26.00,Keith Bradshaw
103094,1080296,14337,14,19,424760,13.00,Ashok Upadhyaya
103095,1080297,14337,15,19,424760,6.00,Brandon Blagg
103096,1080298,14337,16,19,424760,3.00,Jon Cook
103097,203260,14337,17,19,424760,2.00,David Joyner
103098,1080299,14337,18,19,424760,1.00,Eric De Soualhat
103099,57470,9367,2,7,2040920,257124.00,Jaime de Hoyos
103100,1192733,9367,4,7,2040920,64281.00,Reinol Martinez
103101,1192734,9367,5,7,2040920,32140.00,Ramiro Gomez
103102,1293343,9367,6,7,2040920,16070.00,Consuelo Gómez
103103,1037844,231617,5,7,0,0.00,Laci J Mailey
103104,85563,25975,1,8,0,0.00,Brian Herzlinger
103105,155007,25975,7,8,0,0.00,Bill D'Elia

In [43]:
# 14. For each actor find the total revenue attributed to him/her

total_rev_foractor = cast2_name.groupby(by = ['actor_id','name']).sum()['part'].to_frame().reset_index()
total_rev_foractor

       actor_id                      name          part
0             1              George Lucas         54.00
1             2               Mark Hamill  943249262.00
2             3             Harrison Ford 2509047567.00
3             4             Carrie Fisher  247741224.00
4             5             Peter Cushing   48462375.00
5             6           Anthony Daniels   73022615.00
6             7            Andrew Stanton     231562.00
7             8               Lee Unkrich         30.00
8            10              Bob Peterson   50370448.00
9            11            David Reynolds          0.00
10           12           Alexander Gould  117543015.00
11           13             Albert Brooks  499793796.00
12           14           Ellen DeGeneres  235083898.00
13           18              Brad Garrett   50785114.00
14           19            Allison Janney  127665865.00
15           20         Elizabeth Perkins  180112508.00
16           22           Barry Humphries      22162.00
17           23               Bill Hunter      20405.00
18           31                 Tom Hanks 3800124343.00
19           32              Robin Wright  276816730.00
20           33               Gary Sinise  274312711.00
21           34        Mykelti Williamson   51275225.00
22           35               Sally Field  236931468.00
23           40              Orson Welles    1319868.00
24           47                     Björk   20015940.00
25           48                 Sean Bean  291283983.00
26           49               Maria Bello  165555847.00
27           50         Catherine Deneuve   23535290.00
28           51             Richard Elfyn          0.00
29           52               David Morse   79033660.00
...         ...                       ...           ...
53196   1890145           William D. Grey          0.00
53197   1890146            Gary Henderson          0.00
53198   1890147               Bill Massof          0.00
53199   1890148              Brian McKeon          0.00
53200   1890149               Ken McNeill          0.00
53201   1890150                 Jay Parks          0.00
53202   1890151               Bart Wilder          0.00
53203   1890374              Young Fu Fan          0.00
53204   1890375            Manouk Tideman          0.00
53205   1890376              Hong Lan Hou          0.00
53206   1890377            Kyle Rothstein          0.00
53207   1891303              Zora Suleman          0.00
53208   1891305  Florence Brudenell-Bruce          0.00
53209   1891649            Gregory Vitale         76.00
53210   1891652                Rick Demas          5.00
53211   1892328        Ffolliott Le Coque          0.00
53212   1892479               Marcelo Bem          0.00
53213   1892757                Sam Comery          0.00
53214   1893196              Jake Schultz       4160.00
53215   1893197          Zechariah Pierce       1040.00
53216   1893198            Alexa Rachelle         16.00
53217   1893199        Jonathan Velazquez          8.00
53218   1893200            Danielle Rodas          2.00
53219   1893201         Tallie L. Brinson          1.00
53220   1893202       William Henry Milne          1.00
53221   1893203                Sonia Rose          0.00
53222   1893204                Joey Nappo          0.00
53223   1893205           Michelle Brzenk          0.00
53224   1893206           Matthew Withers          0.00
53225   1893207             Skip P. Welch          0.00

[53226 rows x 3 columns]

In [44]:
# (esempio) qual è la total revenue di Bob Peterson?

total_rev_foractor[total_rev_foractor["name"] == "Bob Peterson"]

   actor_id          name        part
8        10  Bob Peterson 50370448.00

In [45]:
# 15. Find the actor that is responsible for the most overall revenue.

total_rev_foractor.loc[total_rev_foractor["part"].idxmax()]

actor_id             500
name          Tom Cruise
part       3976119764.00
Name: 213, dtype: object